<!--
<div ng-hide="rights" openlmis-message="msg.loading"></div>
-->
<div>
    <div ng-hide="clientTypes.length >0">
        <h2 id="addNewRoleHeader">Add Landing Page</h2>
    </div>
    <div ng-show="clientTypes.length > 0">
        <h2 id="editRoleHeader">Edit Landing Page</h2>
    </div>

    <form id="create-role" name="landingPageForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left">

                        <div>
                            <fieldset class="form-group">
                                <label for="name">Name <span class="label-required"> *</span>
                                </label>
                                <input type="text" class="form-control" id="name" name="name"
                                       ng-model="landingPage.name"
                                       placeholder="" ng-required="true">
                                 <span class="field-error" ng-show="!landingPage.name && showError"
                                       openlmis-message="missing.value"></span>
                            </fieldset>
                            <br/>

                            <fieldset class="form-group">
                                <label for="name">Url <span class="label-required"> *</span></label>
                                <input type="text" class="form-control" id="url" name="url"
                                       ng-model="landingPage.url" ng-required="true"
                                       placeholder="">
                                   <span class="field-error" ng-show="!landingPage.url && showError"
                                         openlmis-message="missing.value"></span>
                            </fieldset>

                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="saveLandingPage()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

