<style>
    .modal {
    display: block !important;
    }

    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
    input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
    display: inline-block;
    height: 30px !important;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }


</style>
<div ng-hide="rights" openlmis-message="msg.loading"></div>
<div class="clearfix"></div>

<div>
    <h2>
        <span id="rolesHeader">User Landing Page</span>
        <a id="role-add-new" ng-href="#/create" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
    <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
    <table class="table table-striped table-bordered" ng-show="landingPages">
        <thead>
        <tr class="gradient-header">
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="url">Url</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="page in landingPages">
            <td><a id="page{{$index}}" ng-href="#/edit/{{page.id}}">{{page.name}}</a></td>
            <td id="name{{$index}}" ng-bind="page.url"></td>
            <td align="center">
                <button class="btn  btn-danger" ng-click="delete(page.id);">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
