
<div class="login-page">
  <div class="login-container">
    <div class="modal-login-header">
      <h1 openlmis-message="label.app.header"></h1>
      <ng-include src="'/public/pages/locale-list.html'"></ng-include>
    </div>
    <div class="forgot-password-form">
        <h2 openlmis-message="msg.password.change.success"></h2>
          <div class="form-desc" openlmis-message="msg.sign.in">
          </div>
        <form>
          <fieldset>
            <div class="login-form-row">
              <input class="btn btn-primary" type="submit" openlmis-message="button.sign.in" ng-click="goToLoginPage()"/>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
</div>
