

<div class="login-page">
  <div class="login-container">
    <div class="modal-login-header">
      <h1 openlmis-message="label.app.header"></h1>
      <ng-include src="'/public/pages/locale-list.html'"></ng-include>
    </div>
    <div class="forgot-password-form">
      <h2 openlmis-message="label.change.password"></h2>

      <form name='ResetPasswordForm'>
        <fieldset>
          <div class="login-form-row">
            <input type="password" id="password1" ng-trim="false" oncopy="return false;" maxlength="16" ng-model="password1"
                   openlmis-message="placeholder.new.password"/>
          </div>
          <div class="login-form-row">
            <input type="password" id="password2" ng-trim="false" oncopy="return false;" maxlength="16" ng-model="password2"
                   openlmis-message="placeholder.reenter.password" />
          </div>
          <div class="alert alert-error" ng-bind="error" ng-show="error"></div>

          <div class="login-form-row">
            <input class="btn btn-primary" ng-click="resetPassword()" type="submit" openlmis-message="label.change.password"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
