<style>

    .modal {
    display: block;
    }

    .hide {
    display: none;
    }

    .date {
    display: inline-block !important;
    margin-top: 4px;
    margin-bottom: 1px;
    padding-left: 1px;
    }
    .toolbar-success {
    color: #86D186;
    }
    div h2 {
    border-bottom: 0px solid #d6d6d6;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;

    /*font-size: 18px;
    font-weight: 400; */
    }


    /*.label-required{
    color: red;
    }

    span.field-error {
    display: block;
    padding-top: 4px;
    font-size: 0.9em;
    color: #E93434;
    }*/
</style>

<div>
    <form id="create-user" name="createUserForm" novalidate select2-blur>

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h2>Add Client</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div ng-form="createUserForm">


                <div class="row">
                    <!-- form input mask -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Basic Information</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br/>

                                <div class="form-horizontal form-label-left" name="createUserForm">

                                    <fieldset class="form-group">
                                        <label for="userName">User Name
                                            <span class="label-required"> *</span>

                                        </label>

                                        <input name="userName" type="text" class="form-control" id="userName"
                                               ng-model="client.userName"
                                               placeholder="" ng-required="true">
                              <span class="field-error" ng-show="!client.userName && showError"
                                    openlmis-message="missing.value">
                               </span>
                                        <span class="field-error" ng-show="userNameInvalid"
                                              openlmis-message="create.user.invalid.userName"></span>

                                    </fieldset>

                                    <fieldset class="form-group">
                                        <label for="clientType">Client Type
                                            <span class="label-required"> *</span>

                                        </label>

                                        <select id="clientType" ui-select2 class="input-small"
                                                style="width: 474.5px !important;" ng-model="client.userTypeId"
                                                ng-change="notifyFilterChanged('year-changed');" ng-required="true">
                                            <option ng-repeat="type in userTypes"
                                                    ng-selected="client.userTypeId == type.id" value="{{ type.id }}">
                                                {{type.userType}}
                                            </option>
                                        </select>
                               <span class="field-error" ng-show="!client.userTypeId && showError"
                                       >Select gender
                               </span>

                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="firstName">First Name
                                            <span class="label-required"> *</span>

                                        </label>
                                        <input name="firstName" type="text" class="form-control" id="firstName"
                                               ng-model="client.firstName"
                                               placeholder="" ng-required="true">
                              <span class="field-error" ng-show="!client.firstName && showError"
                                      >Missing Value
                               </span>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="surname">Surname
                                            <span class="label-required"> *</span>

                                        </label>
                                        <input type="text" class="form-control" id="surname" ng-model="client.lastName"
                                               placeholder="" ng-required="true">
                             <span class="field-error" ng-show="!client.lastName && showError"
                                     >Missing Value
                               </span>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="gender">Gender
                                            <span class="label-required"> *</span>

                                        </label>

                                        <select id="gender" ng-required="true" ui-select2 class="input-large"
                                                style="width: 474.5px !important;" ng-model="client.gender"
                                                ng-change="notifyFilterChanged('year-changed');">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                               <span class="field-error" ng-show="!client.gender && showError"
                                       >Select gender
                               </span>


                                    </fieldset>
                                    <fieldset class="form-group">

                                        <label for="dateOfBirth">Date Of Birth
                                            <span class="label-required"> *</span>

                                        </label>
                                        <!--<input id="dateOfBirth" type="text" ng-model="datePicker" datepicker />-->

                                        <!--       <input class="date"  name="dateOfBirth" id="dateOfBirth" type="text"
                                                       ng-model="client.dateOfBirth" datepicker ui-date="dateOptions"
                                                      ng-change="setEndDateOffset()" ng-required="true" style="width: 450px !important;"/>   &lt;!&ndash;<span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>&ndash;&gt;
                                                           <span class="field-error" ng-show="userProfileForm.client.dateOfBirth.$error.required && showError"
                                                                   >Missing
                           </span>-->
                                        <input name="dateOfBirth" id="dateOfBirth" type="text" class="form-control"
                                               ui-date="{dateFormat: 'dd-mm-yy', changeYear: true}"
                                               ui-date-format="yy-mm-dd"
                                               ng-model="client.dateOfBirth"
                                               ng-change="setEndDateOffset()" ng-required="true"/>
                                           <span class="field-error" ng-show="!client.dateOfBirth && showError"
                                                   >Select Date of Birth
                                         </span>

                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="occupation">Occupation</label>
                                        <input type="text" class="form-control" id="occupation"
                                               ng-model="client.jobTitle"
                                               placeholder="">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="idNumber">ID Number (National ID/Voter ID/Driving license/Passport
                                            N)
                                            <span class="label-required"> *</span>
                                        </label>
                                        <input type="text" class="form-control" id="idNumber"
                                               ng-model="client.userNumber"
                                               placeholder="" ng-required="true">
                               <span class="field-error" ng-show="!client.userNumber && showError"
                                       >Missing Value
                                         </span>
                                    </fieldset>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /form input mask -->

                    <!-- form color picker -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Contact Information</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br/>

                                <form class="form-horizontal form-label-left" name="createUserForm">

                                    <fieldset class="form-group">
                                        <label for="mobileNumber">Mobile Number
                                            <span class="label-required"> *</span>
                                        </label>
                                        <input type="text" class="form-control" id="mobileNumber"
                                               ng-model="client.cellPhone"
                                               placeholder="" ng-required="true" numeric-validator="positiveInteger"
                                                >
                                <span class="field-error" ng-show="!client.cellPhone && showError"
                                        > Missing Value
                               </span>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="alternativeMobileNumber">Alternative Mobile Number</label>
                                        <input type="text" class="form-control" id="alternativeMobileNumber"
                                               ng-model="client.altenativeMobileNumber"
                                               numeric-validator="positiveInteger"
                                               placeholder="">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="nationality">Nationality</label>
                                        <select id="nationality" ui-select2 class="input-large"
                                                style="width: 474.5px !important;" ng-model="client.nationality"
                                                ng-change="notifyFilterChanged('year-changed');">
                                            <option>Tanzania</option>
                                            <option>Kenya</option>
                                            <option>Uganda</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="region">Region</label>

                                        <select id="region" ui-select2 class="input-large"
                                                style="width: 474.5px !important;" ng-model="client.region"
                                                ng-change="notifyFilterChanged('year-changed');">
                                            <option>Dar es salaam</option>
                                            <option>Morogoro</option>
                                            <option>Mbeya</option>
                                        </select>


                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="district">District</label>

                                        <select id="district" ui-select2 class="input-large"
                                                style="width: 474.5px !important;" ng-model="client.district"
                                                ng-change="notifyFilterChanged('year-changed');">
                                            <option>Ilala</option>
                                            <option>Kinondoni</option>
                                            <option>Temeke</option>
                                        </select>

                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="streetAddress">Street Address</label>
                                        <input type="text" class="form-control" id="streetAddress"
                                               ng-model="client.address"
                                               placeholder="">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <label for="email">Email
                                        </label>
                                        <input type="text" class="form-control" id="email" ng-model="client.email"
                                               maxlength="50" placeholder="">

                                    </fieldset>

                                    <div class="accordion-section">
                                        <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                             <span><strong>+</strong><a
                                     id="reportingRoles"
                                     href="javascript:void(0);">{{getMessage('create.user.reportRoles')}}</a></span>
                                        </div>
                                        <div class="accordion-body prog-role-grid">
                                            <ng-include
                                                    src="'/public/pages/admin/user/partials/user-reporting-role-assignment.html'"></ng-include>
                                        </div>
                                    </div>


                                    <div class="accordion-section">
                                        <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                             <span><strong>+</strong><a
                                     id="adminRoles"
                                     href="javascript:void(0);">{{getMessage('create.user.adminRoles')}}</a></span>
                                        </div>
                                        <div class="accordion-body prog-role-grid">
                                            <ng-include
                                                    src="'/public/pages/admin/user/partials/user-admin-role-assignment.html'"></ng-include>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /form color picker -->

                </div>
            </div>

        </div>

        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="userSaveButton" type="submit" value="Save" class="btn btn-primary save-button"
                       openlmis-message="button.save"
                       ng-click="saveUser()"/>

                <input id="userCancelButton" type="button" class="btn btn-cancel save-button"
                       openlmis-message="button.cancel"
                       ng-click="cancel()"/>
                <input id="userDisableButton" type="button" class="pull-right btn btn-danger delete-button"
                       ng-click="showConfirmUserDisableModal()" openlmis-message="button.disable"/>
                <input id="userEnableButton" type="button" class="btn btn-primary enable-button"
                       ng-show="(!user.active && user.id!=null)"
                       openlmis-message="button.enable"
                       ng-click="showConfirmUserRestoreModal()"/>


            </div>
            <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
            <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message"><span
                    style="text-align: right"></span></div>
        </div>

    </form>
</div>


<!--
<div id="popup-box" ng-form="confirmDisable" modal="showDisableModal">
    <div class="modal-header">
        <h2><span openlmis-message="label.confirm.order.submit.action">&nbsp;&nbsp;</span>
        </h2>
    </div>
    <div class="modal-body">
        <div class="row-fluid ">
            <div class="span12">

                <div class="span12">
                    <P>Please Provide the Reason(s) for Ordering Unscheduled Period </P>

                    <strong id='issue-voucher-label'>Reason(s): </strong>&nbsp;

                    <textarea class="form-control" style="width:400px;" rows="2" ng-model="report.reason"></textarea>

                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit" class="btn btn-primary save-button"
               ng-click="submitEmergency()"
               ng-disabled="!report.reason"
               openlmis-message="button.submit"/>
        <input type="button" ng-click="closeOrderModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>

</div>-->
