<style>
    .cel, .birth {
    min-width: 90% !important;
    }
    .element.style {
    width: 100%!important;
    }

    .action-buttons{

    left: 240px;
    }


</style>

<div xmlns="http://www.w3.org/1999/html" tab-scroll>
    <div ng-hide="user.id"><h2 openlmis-message="create.user.label"></h2></div>
    <div ng-show="user.id"><h2 id="editUserLabel" openlmis-message="edit.user.label"></h2></div>

    <form id="create-user" name="userForm" novalidate select2-blur>
        <div class="app-form">

            <div class="form-group">
                <h2>

                    <span openlmis-message="label.basicInformation"></span>

                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            Contact Information
                        </span>

                </h2>

                <div class="form-row clearfix">
                    <div class="form-cell">
                        <label for="userName">
                            <span openlmis-message="create.user.userName"></span>
                            <span class="label-required"> *</span>
                        </label>

                        <div class="form-field">
                            <input ng-model="client.userName" name="userName" id="userName" type="text" maxlength="50"
                                   ng-required="true"/>
                        <span class="field-error" ng-show="!client.userName && showError"
                              openlmis-message="missing.value">
                        </span>

                        <span class="field-error" ng-show="userNameInvalid"
                              openlmis-message="create.user.invalid.userName">
                        </span>
                        </div>
                    </div>

                    <div class="form-cell">
                        <label for="email">
                            <span openlmis-message="create.user.email"></span>
                            <span class="label-required"><span ng-hide="user.isMobileUser"> *</span></span>
                        </label>

                        <div class="form-field">
                            <input ng-model="client.email" name="email" id="email" type="text" maxlength="50"
                                   ng-required="!user.isMobileUser"/>
                    <span class="field-error" ng-show="!client.email && showError"
                          openlmis-message="missing.value">
                    </span>
                        </div>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <div class="form-cell">
                        <label for="firstName">
                            <span openlmis-message="create.user.firstName"></span>
                            <span class="label-required"> *</span>
                        </label>

                        <div class="form-field">
                            <input ng-model="client.firstName" name="firstName" id="firstName" type="text"
                                   maxlength="50"
                                   ng-required="true"/>
        <span class="field-error" ng-show="!client.firstName && showError"
              openlmis-message="missing.value">
        </span>
                        </div>
                    </div>


                    <div class="form-cell">
                        <label for="lastName">
                            <span openlmis-message="create.user.lastName"></span>
                            <span class="label-required"> *</span>
                        </label>

                        <div class="form-field">
                            <input ng-model="client.lastName" name="lastName" id="lastName" type="text" maxlength="50"
                                   ng-required="true"/>
        <span class="field-error" ng-show="!client.lastName && showError"
              openlmis-message="missing.value">
        </span>
                        </div>
                    </div>


                </div>

                <div class="form-row clearfix">

                    <div class="form-cell">
                        <label for="gender">Gender</label>

                        <select id="gender" ng-required="true" ui-select2 class="cel"
                                ng-model="client.gender"
                                ng-change="notifyFilterChanged('year-changed');">
                            <option value="">Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                               <span class="field-error" ng-show="!client.gender && showError">
                               </span>
                    </div>


                    <div class="form-cell">
                        <label for="jobTitle" openlmis-message="create.user.jobTitle"> </label>

                        <div class="form-field">
                            <input ng-model="client.jobTitle" id="jobTitle" type="text" maxlength="50"/>
                        </div>
                    </div>
                </div>


                <div class="form-row clearfix">
                    <div class="form-cell">
                        <label for="officePhone" openlmis-message="create.user.officePhone"> </label>

                        <div class="form-field">
                            <input ng-model="client.officePhone" id="officePhone" type="text" maxlength="30"/>
                        </div>
                    </div>


                    <div class="form-cell">
                        <label for="cellPhone" openlmis-message="create.user.cellPhone"> </label>

                        <div class="form-field">
                            <input ng-model="client.cellPhone" id="cellPhone" type="text" maxlength="30"/>
                        </div>
                    </div>
                </div>


                <div class="form-row clearfix">

                    <div class="form-cell">
                        <label for="employeeId" openlmis-message="create.user.employeeId"></label>

                        <div class="form-field">
                            <input ng-model="client.employeeId" id="employeeId" type="text" maxlength="50"/>
                        </div>
                    </div>


                    <div class="form-cell">
                        <label for="nationality">Nationality</label>
                        <select id="nationality" ui-select2 class="cel"  ng-required="true"
                                ng-model="client.countryId"
                                ng-change="GetRegions()">
                            <option value="">Select Country</option>
                            <option ng-repeat="c in countries" value="{{c.id}}">{{c.name}}</option>
                        </select>
                        <span class="field-error" ng-show="!client.countryId && showError">Nationality is required</span>


                    </div>

                </div>

                <div class="form-row clearfix">
                    <div class="form-cell">

                        <label for="receivingDate"> Date of Birth</label>
                        <input class="birth"
                               id="receivingDate" name="receivingDate" type="text"
                               ui-date="{dateFormat: 'dd/mm/yy',changeMonth:true, changeYear: true,maxDate:'today',minDate:period.stringStartDate
                               , yearRange: '-110:+0'}"
                               ui-date-format="yy-mm-dd"
                               ng-model="client.dateOfBirth"/>

                    </div>

                    <div class="form-cell">

                        <label for="region">Region</label>

                        <select id="region" ui-select2 class="cel"
                                ng-model="client.regionId" ng-required="true"
                                ng-change="GetDistricts()">
                            <option value="">-Select Region-</option>
                            <option ng-repeat="r in regions" value="{{r.id}}">{{r.name}}</option>
                        </select>
                        <span class="field-error" ng-show="!client.regionId && showError">Region is required</span>

                    </div>

                </div>

                <div class="form-row clearfix">
                    <div class="form-cell">
                    </div>

                    <div class="form-cell">

                        <label for="district">District</label>

                        <select id="district" ui-select2 class="cel" ng-required="true"
                                ng-model="client.geographicZoneId">
                            <option value="">-Select District-</option>
                            <option ng-repeat="d in districts" value="{{d.id}}">{{d.name}}</option>
                        </select>
                        <span class="field-error" ng-show="!client.geographicZoneId && showError">district is required</span>

                    </div>


                </div>


                <div class="form-row clearfix">
                    <div class="form-cell">
                        <label openlmis-message="label.is.verified"></label>
                        <ng-switch on="!!client.verified">
                            <span ng-switch-when="true" openlmis-message="button.yes"></span>
                            <span ng-switch-when="false" openlmis-message="button.no"></span>
                        </ng-switch>
                    </div>

                    <div class="form-cell">
                        <label>
                            <span openlmis-message="create.user.restrictLogin"></span>
                            <span class="label-required"> *</span>
                        </label>

                        <div class="form-field radio-group">
                            <input id="restrictLoginYes" ng-model="client.restrictLogin" type="radio"
                                   name="restrictLogin"
                                   ng-value="true"
                                   ng-required="client.restrictLogin == null || client.restrictLogin == undefined"/>
                            <strong openlmis-message="button.yes"></strong> &nbsp; &nbsp; &nbsp;
                            <input id="restrictLoginNo" ng-model="client.restrictLogin" type="radio"
                                   name="restrictLogin"
                                   ng-value="false"/>
                            <strong openlmis-message="button.no"></strong>
        <span class="field-error" ng-show="userForm.restrictLogin.$error.required && showError"
              openlmis-message="select.value">
        </span>
                        </div>

                    </div>

                </div>

                <div class="form-row clearfix">


                    <div class="form-cell">
                        <label>
                            <span>Is Agent</span>
                            <span class="label-required"> *</span>
                        </label>

                        <input id="isAgentYes" ng-model="client.isAgent" type="radio" name="isAgent"
                               ng-value="true"
                               ng-required="client.isAgent == null || client.isAgent == undefined"/>
                        <strong openlmis-message="button.yes"></strong> &nbsp; &nbsp; &nbsp;
                        <input id="isAgentNo" ng-model="client.isAgent" type="radio" name="isAgent"
                               ng-value="false"/>
                        <strong openlmis-message="button.no"></strong>

                    </div>

                    <div class="form-cell" ng-show="client.isAgent == true">

                        <label for="district">Extension Number</label>

                        <select id="extensionNumber" ui-select2 class="cel"
                                ng-model="client.extensionNumber">
                            <option value=""> Select Extension Numbers</option>
                            <option ng-repeat="ext in extensionNumbers" value="{{ext.extensionNumber}}">
                                {{ ext.extensionNumber }}
                            </option>

                        </select>


                    </div>

                </div>
                <div class="form-row clearfix">
                    <div class="form-cell">
                        <label for="district">User Group
                            <span class="label-required"> *</span>
                        </label>

                        <select id="userGroup" ui-select2 class="cel" ng-required="true"
                                ng-model="client.groupId">
                            <option value="">Select User groups</option>

                            <option ng-repeat="u in userGroups" value="{{u.id}}">
                                {{ u.name }}

                            </option>

                        </select>
                    </div>


                    <div class="form-cell">
                        <label for="landingPage">Landing Page<span class="label-required"> *</span></label>

                        <select id="landingPage" ui-select2 class="cel" ng-required="true"
                                ng-model="client.landingPageId">
                            <option value=""> Select User Landing Page</option>

                            <option ng-repeat="landingPage in landingPages" value="{{landingPage.id}}">
                                {{ landingPage.name }}
                            </option>

                        </select>
                    </div>

                </div>


                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="accordion">
                            <div class="pull-right control-accordion">
                                <a id="expandAll" href="javascript:void(0);"
                                   onClick="accordion.expandCollapse('expand')"
                                   openlmis-message="label.expand.all"></a> /
                                <a id="collapseAll" href="javascript:void(0);"
                                   onClick="accordion.expandCollapse('collapse')"
                                   openlmis-message="label.collapse.all"></a>
                            </div>
                            <div class="clearfix"></div>

                            <div class="accordion-section">
                                <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="doctorRoles"
                            href="javascript:void(0);">Doctor and General Operations Roles</a></span>
                                </div>
                                <div class="accordion-body prog-role-grid">
                                    <ng-include
                                            src="'/public/pages/admin/user/partials/user-doctor-role-assignment.html'"></ng-include>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="nurseRoles"
                            href="javascript:void(0);">Nurse and General Operations Roles</a></span>
                                </div>
                                <div class="accordion-body prog-role-grid">
                                    <ng-include
                                            src="'/public/pages/admin/user/partials/user-nurse-role-assignment.html'"></ng-include>
                                </div>
                            </div>

                            <!--      <div class="accordion-section">
                                      <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                              <span><strong>+</strong><a
                                      id="clientRoles"
                                      href="javascript:void(0);">{{getMessage('create.user.clientRoles')}}</a></span>
                                      </div>
                                      <div class="accordion-body prog-role-grid">
                                          <ng-include src="'/public/pages/admin/user/partials/user-client-role-assignment.html'"></ng-include>
                                      </div>
                                  </div>-->

                            <div class="accordion-section">
                                <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="adminRoles"
                            href="javascript:void(0);">{{getMessage('create.user.adminRoles')}}</a></span>
                                </div>
                                <div class="accordion-body prog-role-grid">
                                    <ng-include
                                            src="'/public/pages/admin/user/partials/user-admin-role-assignment.html'"></ng-include>
                                </div>
                            </div>

                            <!-- <div class="accordion-section">
                                 <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                         <span><strong>+</strong><a
                                 id="reportRoles"
                                 href="javascript:void(0);">{{getMessage('create.user.reportRoles')}}</a></span>
                                 </div>
                                 <div class="accordion-body prog-role-grid">
                                     <ng-include src="'/public/pages/admin/user/partials/user-report-role-assignment.html'"></ng-include>
                                 </div>
                             </div>-->

                        </div>
                    </div>
                </div>


                <div form-toolbar id="action_buttons" class="action-buttons">
                    <div class="form-cell button-row">
                        <input id="userSaveButton" type="submit" class="btn btn-primary save-button"
                               openlmis-message="button.save"
                               ng-click="saveUser()"/>
                        <input id="userCancelButton" type="button" class="btn btn-cancel cancel-button"
                               openlmis-message="button.cancel"
                               ng-click="cancel()"/>
                        <input id="userDisableButton" type="button" class="btn btn-danger delete-button"
                               ng-show="user.active && user.id!=null"
                               ng-click="showConfirmUserDisableModal()" openlmis-message="button.disable"/>
                        <input id="userEnableButton" type="button" class="btn btn-primary enable-button"
                               ng-show="(!user.active && user.id!=null)"
                               openlmis-message="button.enable"
                               ng-click="showConfirmUserRestoreModal()"/>
                        <input id="resetPassword" type="button" class="btn btn-primary enable-button"
                               openlmis-message="button.reset.password"
                               ng-click="changePassword(user)" ng-show="user.id!=null"/>
                    </div>
                    <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
                    <div class="toolbar-success" id="saveSuccessMsgDiv" openlmis-message="message"
                         ng-show="message"></div>
                </div>
            </div>
    </form>
</div>
<ng-include src="'/public/pages/admin/user/partials/user-reset-password.html'"></ng-include>
