<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Modify Profile</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Account Information</h2>

                    <div class="clearfix"></div>
                    <div class="x_content">
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <img src="/public/images/img.jpg" height="80" width="80"/>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="referenceNumber">Reference Number</label>
                                    <!--<input ng-disabled="true" type="text" class="form-control" id="referenceNumber" ng-model="client.referenceNumber"-->
                                    <!--placeholder="">-->
                                    <div id="referenceNumber">ABC123-T</div>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountStatus">Account Status</label>
                                    <!--<input ng-disabled="true" type="text" class="form-control" id="accountStatus" ng-model="client.accountStatus"-->
                                    <!--placeholder="">-->
                                    <div id="accountStatus">Active</div>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountPackage">Account Package</label>
                                    <!--<input ng-disabled="true" type="text" class="form-control" id="accountPackage" ng-model="client.accountPackage"-->
                                    <!--placeholder="">-->
                                    <div id="accountPackage">Premium</div>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountTerminationPeriod">Account Termination</label>
                                    <!--<input ng-disabled="true" type="text" class="form-control" id="accountTerminationPeriod" ng-model="client.accountTerminationPeriod"-->
                                    <!--placeholder="">-->
                                    <div id="accountTerminationPeriod">30-June-2017</div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Basic Information</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>

                    <form class="form-horizontal form-label-left">

                        <fieldset class="form-group">
                            <label for="clientType">Client Type</label>
                            <select class="form-control" id="clientType" ng-model="client.type">
                                <option>Individual</option>
                                <option>Corporate</option>
                                <option>Family</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" ng-model="client.firstName"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" ng-model="client.Surname"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" ng-model="client.gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" ng-model="client.age" placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="occupation">Occupation</label>
                            <input type="text" class="form-control" id="occupation" ng-model="client.occupation"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="idNumber">ID Number (National ID/Voter ID/Driving license/Passport N)</label>
                            <input type="text" class="form-control" id="idNumber" ng-model="client.idNumber"
                                   placeholder="">
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->

        <!-- form color picker -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Contact Information</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>

                    <form class="form-horizontal form-label-left">

                        <fieldset class="form-group">
                            <label for="mobileNumber">Mobile Number</label>
                            <input type="text" class="form-control" id="mobileNumber" ng-model="client.mobileNumber"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="alternativeMobileNumber">Alternative Mobile Number</label>
                            <input type="text" class="form-control" id="alternativeMobileNumber"
                                   ng-model="client.alternativeMobileNumber"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="nationality">Nationality</label>
                            <select class="form-control" id="nationality" ng-model="client.nationality">
                                <option>Tanzania</option>
                                <option>Kenya</option>
                                <option>Uganda</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="region">Region</label>
                            <select class="form-control" id="region" ng-model="client.region">
                                <option>Dar es Salaam</option>
                                <option>Morogoro</option>
                                <option>Mbeya</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="district">District</label>
                            <select class="form-control" id="district" ng-model="client.district">
                                <option>Ilala</option>
                                <option>Kinondoni</option>
                                <option>Temeke</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="streetAddress">Street Address</label>
                            <input type="text" class="form-control" id="streetAddress" ng-model="client.streetAddress"
                                   placeholder="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" ng-model="client.email" placeholder="">
                        </fieldset>


                    </form>
                </div>
            </div>
        </div>
        <!-- /form color picker -->

    </div>

</div>

<div class="sidebar-footer" style="width:100%;height:50px;padding:8px 10px 4px 10px">
    <div style="float:left">
        <button type="button" ng-click="save()" class="btn btn-success">Save</button>
        <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>