<style>

</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>
    <h2>
        <span>Search User</span>
        <a href="#/create-user" id="userAddNew" class="pull-right btn btn-primary">Add New</a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="userId">
        <span ng-bind="message"></span>.&nbsp;
        <a id="viewHereLink" href="" ng-click="edit(userId)" openlmis-message="search.viewHere"></a>
    </div>


    <div id="searchControl" class="row-fluid">
        <div class="span5 search-in-category">
            <div class="input-append input-prepend">
                <input id='searchUser' type="text" class="span7" ng-model="query" maxlength="50" autocomplete="off"
                       ng-keydown="triggerSearch($event)" openlmis-message="placeholder.user.search"/>
                <button class="btn" ng-click="loadUsers(1)">
                    <i id='searchIcon' class="icon-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="table-container">
        <table id="userSearchResultTable" class="table table-striped table-bordered search-list" ng-show="showResults">
            <thead>
            <tr class="gradient-header resultCountHeader">
                <th colspan="5">
            <span ng-switch on="totalItems">
              <h3 id="noResultMessage" ng-switch-when="0" openlmis-message="msg.no.matches|searchedQuery"></h3>
              <h3 id="oneResultMessage" ng-switch-when="1" openlmis-message="msg.one.match|searchedQuery"></h3>
              <h3 id="nResultsMessage" ng-switch-default
                  openlmis-message="msg.many.matches|totalItems|searchedQuery"></h3>
            </span>
                    <a id="closeButton" class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>
                </th>
            </tr>
            <tr class="gradient-header" ng-show="userList.length">
                <th id="nameHeader" class="col-name">Name</th>
                <th id="userNameHeader" class="col-name">UserName</th>
                <th id="emailHeader">Email</th>
                <th id="verifiedHeader" class="col-icon-ok">Verified</th>
                <th id="activeHeader" class="col-icon-ok">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userList">
                <td>
                    <a id="name{{$index}}" href="" ng-click="edit(user.id)">{{user.firstName}} {{user.lastName}}</a>
                </td>
                <td id="userName{{$index}}" ng-bind="user.userName"></td>
                <td id="email{{$index}}" ng-bind="user.email"></td>
                <td id="verified{{$index}}" class="center-justified">
                    <i id="verifiedIconOk{{$index}}" ng-class="{'icon icon-ok': user.verified}"></i>
                </td>
                <td id="active{{$index}}" class="center-justified">
                    <i id="activeIconOk{{$index}}" ng-class="{'icon-ok': user.active}"></i>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="pagination.limit"
                direction-links="false" class="pagination-sm" ng-show="userList.length"></pagination>


</div>