<div ng-controller="UserRoleAssignmentController" tab-scroll>
    <div class="fluid-grid">
        <div class="row-fluid">
            <div class="span6">
                <div class="fluid-grid-cell">
                    <select id="reportRoles" ui-select2 ng-model="user.reportRole.roleIds" class="full-width"
                            openlmis-message="placeholder.add.role"
                            multiple="multiple" name="roles" id="roles"
                            ng-options="role.id as role.name for role in rolesMap.REPORT">
                    </select>
          <span ng-show="roleAssignment.roleIds.length == 0" class="field-error" openlmis-message="missing.value">
          </span>
                </div>
            </div>
        </div>
    </div>
</div>