<style>
    #password2, #password1 {
    width: 87% !important;
    height: 35% !important;
    }

    .modal-body input[type="password"]{
    width: 87% !important;
    height: 35% !important;
    }


</style>

<div id="changePassword" modal="changePasswordModal" options="{'backdrop':'static', 'escape':false}">
    <form name="passwordForm">
        <div class="modal-header">
            <h3>
                <span openlmis-message="message.reset.password"></span>&nbsp;<span ng-bind="user.firstName"></span>&nbsp;
                <span ng-bind="user.lastName"></span>
            </h3>
        </div>

        <div class="modal-body">
            <div ng-hide="message">
                <form name='ResetPasswordForm'>
                    <div class="row-fluid">
                        <div class="span12">
                            <label openlmis-message="placeholder.new.password"></label>
                            <input type="password" id="password1" ng-trim="false" oncopy="return false;"
                                   maxlength="16"
                                   ng-model="user.password1"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label openlmis-message="placeholder.reenter.password"></label>
                            <input type="password" id="password2" class="cel" ng-trim="false" oncopy="return false;"
                                   maxlength="16"
                                   ng-model="user.password2"/>
                        </div>
                    </div>

                    <div class="alert alert-error" ng-bind="passwordError" ng-show="passwordError"></div>
                </form>
            </div>

        </div>

        <div class="modal-footer">
            <input id="resetPasswordDone" type="button" class="btn btn-primary" openlmis-message="button.done"
                   ng-click="updatePassword()"/>
            <input id="resetPasswordCancel" type="button" class="btn btn-cancel" openlmis-message="button.cancel"
                   ng-click="resetPasswordModal()"/>
        </div>

    </form>
</div>