<div id="popup-box" ng-form="addOption" modal="true"
     options="{'backdrop':'static', 'escape':false}"
     style="width:60% !important;margin-left:-30% !important;">

    <div class="modal-header">
        <h3 openlmis-message="addOption"></h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid ">
            <div class="row addForm" ng-form="addMember">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{field}}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="addOptions()"
               openlmis-message="button.add"/>

        <input type="button" ng-click="cancelModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
