<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>User CV Settings</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>CV Types</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="alert alert-success" ng-show="showSuccessfulMessage">Save Successful</div>
                    <br/>

                    <form class="form-horizontal form-label-left">
                        <fieldset class="form-group">
                            <label for="cvTypeId">CV Types</label>
                            <select class="form-control" id="cvTypeId" ng-model="cvTypeId"
                                    ng-change="loadFields()">
                                <option value="">Select CV Type</option>
                                <option value="-1">Create New</option>
                                <option ng-repeat="type in cvTypes" value="{{type.id}}">{{type.name}}
                                </option>
                            </select>
                        </fieldset>
                        <div ng-show="cvTypeId !== undefined && cvTypeId !== null">
                            <fieldset class="form-group">
                                <label for="cvType">CV Type Name</label>
                                <input type="text" class="form-control" id="cvType"
                                       ng-model="cvType.name"
                                       placeholder="">
                            </fieldset>
                            <br/>

                            <form class="form-horizontal">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <div class="form-group">
                                            <label for="fieldToAddName">FieldName</label>
                                            <input type="text" class="form-control" id="fieldToAddName"
                                                   ng-model="fieldToAdd.fieldName"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="form-group">
                                            <label for="fieldToAddType">Field Type</label>
                                            <input type="text" class="form-control" id="fieldToAddType"
                                                   ng-model="fieldToAdd.fieldType"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="form-group">
                                            <button ng-disabled="cvType.name=== undefined || fieldToAdd.fieldType ===undefined || fieldToAdd.fieldName ===undefined"
                                                    type="button" ng-click="addField()" class="btn btn-success">Add
                                                Field >>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/>
                            <fieldset class="form-group">
                                <button ng-disabled="cvType.fields.length ===0  " type="button"
                                        ng-click="saveCVType()" class="btn btn-success">Save
                                </button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->

        <!-- form color picker -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Record Type Fields</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <br/>

                    <div class="table-responsive" ng-show="cvTypeId">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Field Name</th>
                                <th class="column-title">Field Type</th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer" ng-repeat="field in cvType.fields">
                                <td class=" "><input class="form-control" type="text" ng-model="field.fieldName"/></td>
                                <td class=" "><input class="form-control" type="text" ng-model="field.fieldType"/></td>
                                <td class=" last"><a href ng-click="deleteField()">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /form color picker -->

    </div>

</div>

<div class="sidebar-footer" style="width:100%;height:50px;padding:8px 10px 4px 10px">
    <!--<div style="float:left">-->
    <!--<button type="button" ng-click="save()" class="btn btn-success">Save</button>-->
    <!--<button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>-->
    <!--</div>-->
</div>