<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Health Record Settings</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row-fluid">
        <!-- form input mask -->
        <div class="span6 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Medical Record Types</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="alert alert-success" ng-show="showSuccessfulMessage">Save Successful</div>
                    <br/>

                    <form class="form-horizontal form-label-left">
                        <fieldset class="form-group">
                            <label for="medicalRecordType">Medical Record Types</label>
                            <select class="form-control" id="clientType" ng-model="medicalRecordTypeId"
                                    ng-change="loadGroups()">
                                <option value="">Select Record Type</option>
                                <option value="-1">Create New</option>
                                <option ng-repeat="type in medicalRecordTypes" value="{{type.id}}">{{type.name}}
                                </option>
                            </select>
                        </fieldset>
                        <div ng-show="medicalRecordTypeId !== undefined && medicalRecordTypeId !== null">
                            <fieldset class="form-group">
                                <label for="medicalRecordType">Medical Record Type Name</label>
                                <input type="text" class="form-control" id="medicalRecordType"
                                       ng-model="medicalRecordType.name"
                                       placeholder="">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="medicalRecordTypeCode">Code</label>
                                <input type="text" class="form-control" id="medicalRecordTypeCode"
                                       ng-model="medicalRecordType.code"
                                       placeholder="">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="medicalRecordTypeOrder">Display Order</label>
                                <input type="text" class="form-control" id="medicalRecordTypeOrder"
                                       ng-model="medicalRecordType.displayOrder"
                                       placeholder="">
                            </fieldset>
                            <br/>

                            <form class="form-horizontal">
                                <fieldset class="form-group">
                                    <label for="">Field Group</label>
                                    <select class="form-control" id=""
                                            ng-model="selectedMedicalRecordTypeFieldGroupName"
                                            ng-change="loadFields()">
                                        <option value="-1">Select Group Type</option>
                                        <option value="">Create New Group</option>
                                        <option ng-repeat="group in medicalRecordTypeFieldGroups"
                                                value="{{group.name}}">{{group.name}}
                                        </option>
                                    </select>
                                </fieldset>
                                <fieldset class="form-group" ng-show="selectedMedicalRecordTypeFieldGroupName != -1">
                                    <label for="medicalRecordTypeFieldGroup">Group Name</label>
                                    <input type="text" class="form-control" id="medicalRecordTypeFieldGroup"
                                           ng-model="selectedMedicalRecordTypeFieldGroupName"
                                           placeholder="">
                                </fieldset>
                                <fieldset class="form-group" ng-show="selectedMedicalRecordTypeFieldGroupName != -1">
                                    <label for="medicalRecordTypeFieldGroupOrder">Display Order</label>
                                    <input type="text" class="form-control" id="medicalRecordTypeFieldGroupOrder"
                                           ng-model="selectedMedicalRecordTypeFieldGroupDisplayOrder"
                                           placeholder="">
                                </fieldset>
                                <br/>

                                <div class="row-fluid" ng-show="selectedMedicalRecordTypeFieldGroupName !== undefined">
                                    <div class="span3">
                                        <div class="form-group">
                                            <label for="medicalRecordType">FieldName</label>
                                            <input type="text" class="form-control" id="fieldToAddName"
                                                   ng-model="fieldToAdd.fieldName"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="form-group">
                                            <label select2 for="medicalRecordType">Field Type</label>
                                            <select class="form-control" ng-model="fieldToAdd.fieldType">
                                                <option ng-repeat="type in fieldTypes">{{type.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="form-group">
                                            <label select2 for="medicalRecordType">Style</label>
                                            <textarea ng-model="fieldToAdd.style"></textarea>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="form-group">
                                            <button style="margin-top:15px;float:right"
                                                    ng-disabled="medicalRecordType.name=== undefined || fieldToAdd.fieldType ===undefined || fieldToAdd.fieldName ===undefined"
                                                    type="button" ng-click="addField()" class="btn btn-success">Add
                                                Field >>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/>
                            <fieldset class="form-group">
                                <button ng-disabled="medicalRecordType.fields.length ===0  " type="button"
                                        ng-click="saveRecordType()" class="btn btn-success">Save
                                </button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->

        <!-- form color picker -->
        <div class="span6 col-md-6 col-sm-12 col-xs-12" style="margin-left:0px !important;width:50% !important">
            <div class="x_panel" style="padding:2px 4px !important">
                <div class="x_title">
                    <h2>Record Type Fields</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <br/>

                    <div class="table-responsive" ng-show="medicalRecordTypeId">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th colspan="2" class="column-title">Field Name</th>
                                <th class="column-title">Field Type</th>
                                <th class="column-title">Style</th>
                                <th class="column-title no-link last"><span class="nobr">Options</span>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="group in medicalRecordType.fieldGroups">
                            <tr>
                                <td colspan="4">group:<input class="form-control" type="text" ng-model="group.name">
                                </td>
                                <td colspan="2">order:<input class="form-control" type="text"
                                                             ng-model="group.displayOrder"></td>
                            </tr>
                            <tr class="even pointer" ng-repeat="field in group.fields">
                                <td style="width:10px"></td>
                                <td class=" ">|_<input class="form-control" type="text" ng-model="field.fieldName"/>
                                </td>
                                <td class=" ">
                                    <select class="form-control" ng-model="field.fieldType" ng-change="showOption()">
                                        <option ng-repeat="type in fieldTypes">{{type.name}}</option>
                                    </select>
                                </td>
                                <td class=" ">
                                    <textarea class="form-control" ng-model="field.style"></textarea>
                                </td>
                                <td style="width:10%" class=" last">
                                    <a href ng-click="showOption(field)">
                                        <span ng-if="field.fieldOptions.length ===0 && (field.fieldType==='SELECT' || field.fieldType==='CHECKBOX' || field.fieldType==='RADIO')">Add</span>
                                        <span ng-if="field.fieldOptions.length >0"
                                              ng-repeat="option in field.fieldOptions">{{option.name}},</span>
                                    </a>
                                <td class=" last"><a href ng-click="deleteField()">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /form color picker -->

    </div>

</div>

<div class="sidebar-footer" style="width:100%;height:50px;padding:8px 10px 4px 10px">
    <!--<div style="float:left">-->
    <!--<button type="button" ng-click="save()" class="btn btn-success">Save</button>-->
    <!--<button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>-->
    <!--</div>-->
</div>

<!--<div ng-show="false" id="popup-box" ng-form="addOption" modal="optionModal"-->
<!--options="{'backdrop':'static', 'escape':false}"-->
<!--style="width:50% !important;margin-left:-25% !important;">-->

<!--<div class="modal-header">-->
<!--<h3 openlmis-message="addOption">Add {{field.fieldName}} Field Options</h3>-->
<!--</div>-->

<!--<div class="modal-body">-->
<!--<div class="row-fluid ">-->
<!--<div class="row addForm" ng-form="addMember">-->
<!--<div class="col-md-12 col-sm-12 col-xs-12">-->
<!--<div ng-repeat="option in field.fieldOptions">-->
<!--{{option.name}}-->
<!--</div>-->
<!--<hr/>-->
<!--<div><input type="text" ng-model="optionToAdd.name">-->
<!--<input type="button" id="addOption"-->
<!--class="btn btn-primary save-button"-->
<!--ng-click="addOptions()"-->
<!--value="Add"-->
<!--openlmis-message="button.add"/></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="modal-footer">-->
<!--<input type="button" id="issueSubmit"-->
<!--class="btn btn-primary save-button"-->
<!--ng-click="saveOption()"-->
<!--value="Done"-->
<!--openlmis-message="button.add"/>-->

<!--<input type="button" ng-click="cancelOptions();" class="btn btn-cancel"-->
<!--openlmis-message="button.cancel" value="cancel"/>-->
<!--</div>-->
<!--</div>-->
