h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
}

.table-bordered>thead>tr>th
{
    border:1px solid #ddd !important;
    border-bottom-width:2px
}

.modal {
    display: block;
}

.hide {
    display: none;
}


.alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

a:hover {
    color: #055e74;
}
td a{
    color:#055e74 !important; ;
}
a:hover {
    color: #055e74;
}
a:hover {
    color: #005580;
    text-decoration: underline;
}
a:hover, a:active {
    outline: 0;
}

.toolbar-button {
  width:100%;
    height:50px;padding:7px 9px 3px 10px;
}

.form-group {
     position: relative;
     padding: 0px 0;
     margin: 0px 0;
     border-top: 0px solid #A0A0A0;
}

.input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}


.content .pagination {
    margin-bottom: 30px !important;
}
.content .pagination ul {
    float: right !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.content .pagination li a {
    padding: 3px 9px;
    margin-right: 5px;
    -webkit-box-shadow: inset 0 0 2px #ffffff;
    -moz-box-shadow: inset 0 0 2px #ffffff;
    box-shadow: inset 0 0 2px #ffffff;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    background: #e7e7e7;
    line-height: 20px;
    color: #777;
}
.content1 .pagination li.errorPage a {
    border-color: #dd2a2a;
    background-color: red;
    color: #ffffff;
}
.content1 .pagination li.active a {
    border-color: #419EA2;
    background-color: #60ACAF;
    color: #E1EDED;
}
.content1 .pagination li.disabled a {
    color: #CCC;
}
.content1 .pagination li.disabled a:hover {
    background-color: #e7e7e7;
}


.content1 .pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px
}
.content1.pagination>li{display:inline}
.content1.pagination>li>a,.content1.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}


