/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
.ui-widget {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 0.9em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: #fcfdfd;
  color: #222222;
}
.ui-widget-content a {
  color: #222222;
}
.ui-widget-header {
  border: 1px solid #4297d7;
  background: #5c9ccc;
  color: #ffffff;
  font-weight: bold;
}
.ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #c5dbec;
  background: #dfeffc;
  font-weight: bold;
  color: #2e6e9e;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #2e6e9e;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background: #d0e5f5;
  font-weight: bold;
  color: #1d5987;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #1d5987;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #79b7e7;
  background: #f5f8f9;
  font-weight: bold;
  color: #e17009;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #e17009;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fad42e;
  background: #fbec88;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec;
  color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
}
/* For IE8 - See #6059 */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  z-index: 9999 !important;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 2.8em;
  height: 1.8em;
  font-size: 0.9em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -9px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker select.ui-datepicker-year {
  width: 60px;
  height: 20px;
  padding: 1px 2px;
  background-color: #5C9CCC;
  color: white;
  font-size: 0.9em;
}
/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
.scrollbar {
  height: 12px;
  padding: 0 1px;
  position: fixed;
  bottom: 92px;
  z-index: 12;
  -webkit-box-shadow: inset 0 0 4px rgba(138, 137, 137, 0.8);
  -moz-box-shadow: inset 0 0 4px rgba(138, 137, 137, 0.8);
  box-shadow: inset 0 0 4px rgba(138, 137, 137, 0.8);
  background-color: #bebaba;
}
.scrollbar .scroll-handle {
  height: 10px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 5px;
  background: rgba(97, 97, 97, 0.6);
  cursor: pointer;
}
.scrollbar .scroll-handle:hover {
  background: rgba(53, 51, 51, 0.6);
}
.home-background {
  background: url(../images/home-glow.png) no-repeat center -70px, #d6d6d6 url(../images/home-bg.png) no-repeat right 530px;
}
.home-content {
  padding: 50px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  color: #a0a0a0;
}
.home-content h2 {
  font-size: 3em;
  font-weight: normal;
}
.home-content h3 {
  font-size: 4.2em;
  font-weight: normal;
  line-height: 65px;
}
.home-content h3.access-denied {
  padding: 16px 0 16px 77px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #ffffff url('../images/warning.png') no-repeat 14px center;
  font-size: 2em;
  color: #6f6f6f;
  text-shadow: 0 1px 0 #FFF;
  line-height: normal;
}
.innershadow {
  position: relative;
}
.innershadow:before,
.innershadow:after {
  width: 100%;
  position: absolute;
  content: attr(title);
  opacity: 0.2;
  color: #ffffff;
}
.innershadow:before {
  top: 1px;
  left: -1px;
}
.innershadow:after {
  top: 2px;
  left: 0;
}
.content {
  min-height: 200px;
  padding: 10px 15px 40px;
  margin: 12px 12px 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: white;
}
.content.rnr-content {
  min-height: 600px;
  padding-bottom: 70px;
}
.content h2 {
  margin-top: 0;
  border-bottom: 1px solid #d6d6d6;
  font-size: 1.4em;
  font-weight: normal;
  color: #17888f;
}
/* TODO: Split into separate screen */
/* RnR Template config */
.rnr-template-head {
  border: 1px solid #BBB;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: #EEE;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  font-size: 0.9em;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 #FFF;
}
.app-form {
  padding: 10px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: inset 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 1px 1px 0 #ffffff;
  box-shadow: inset 1px 1px 0 #ffffff;
  background: #F8F8F8;
}
.form-row {
  padding: 6px 10px;
  margin: 5px 0;
}
.form-row.error {
  background: #FFEAEA;
}
.form-row label {
  margin-bottom: 2px;
  font-size: 0.9em;
}
.form-row input,
.form-row select {
  margin-bottom: 0;
}
.form-row input[type='radio'] {
  margin: -3px 5px 0 0;
}
.form-row input[type='text'] {
  width: 306px;
}
.form-row select {
  width: 320px;
}
.form-row .form-field {
  position: relative;
}
.form-row .form-field .field-error {
  display: block;
  padding-top: 4px;
  font-size: 0.9em;
  color: #E93434;
}
span.field-error {
  display: block;
  padding-top: 4px;
  font-size: 0.9em;
  color: #E93434;
}
.form-row .form-field.radio-group .field-error {
  top: -6px;
  left: 150px;
}
.form-group {
  /*  position: relative;
  padding: 16px 0;
  margin: 20px 0;
  border-top: 1px solid #A0A0A0;*/
}
.form-group > h3 {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  margin-left: 10px;
  background: #F8F8F8;
  top: -23px;
  left: 10px;
  font-size: 1.2em;
  line-height: 24px;
  color: #168e96;
}
.form-group .form-row {
  padding: 0;
  margin: 6px 0;
  border-bottom: 1px solid #FFF;
}
.form-group .form-row input[type="text"] {
  width: 87%;
}
.form-group .form-row input[type="text"][ui-date] {
  width: 200px;
}
.form-group .form-row select {
  width: 90%;
}
.form-group .form-cell {
  width: 42%;
  float: left;
  padding: 6px 10px 10px;
}
.form-group .form-cell.full-width {
  width: 100%;
}
.form-group .form-cell.programs-table {
  width: 70%;
}
.rnr-column-formula {
  font-size: 0.9em;
  line-height: 16px;
  cursor: default;
  color: #888;
}
.rnr-column-formula:hover {
  text-decoration: none;
  color: #888;
}
.label-required {
  font-size: 1.2em;
  font-weight: bold;
  color: #D31717;
}
.form-error {
  font-size: 0.8em;
  color: #E93434;
}
.arithmetic-valid-msg .btn {
  width: 70px;
}
.arithmetic-valid-msg strong {
  color: #2063A0;
}
#notifications {
  position: fixed;
  top: 60px;
  left: 265px;
}
#notifications > div {
  margin: 10px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}
span[class^="tpl-"] {
  display: inline-block;
  padding: 10px;
  vertical-align: text-top;
}
.rnr-template-head span[class^="tpl-"] {
  padding: 8px 10px;
}
.tpl-used {
  width: 18%;
}
.tpl-label {
  width: 35%;
}
.tpl-indicator {
  width: 30px;
}
.tpl-position input {
  width: 20px;
}
.tpl-source {
  width: 18%;
}
.tpl-option select {
  width: 245px;
}
.tpl-visible {
  width: 50px;
  text-align: center;
}
.rnr-template-columns {
  margin-bottom: 10px;
}
.rnr-template-columns ul {
  list-style: none;
  margin: 0;
}
.rnr-template-columns ul > li {
  position: relative;
  border: 1px solid #DDD;
  border-top: 0;
  border-color: transparent #BBB #DDD;
  background: #FCFCFC;
  font-size: 0.9em;
}
.rnr-template-columns ul > li .drag-handle {
  height: 16px;
  width: 12px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  left: 10px;
  background: url("../images/sort-icon.png") no-repeat left center;
  cursor: move;
}
#newRegimenForm {
  padding-top: 20px;
}
#newRegimenForm .form-group {
  padding: 10px 0 0 0;
  margin: 14px 0 0 0;
}
#newRegimenForm .form-cell {
  width: 23%;
  padding: 6px 10px 0px;
}
#newRegimenForm .form-cell:last-child {
  padding-top: 32px;
}
#newRegimenForm .form-cell:last-child input[type="checkbox"] {
  margin-top: 0px;
}
#newRegimenForm .form-cell:last-child label {
  display: inline;
  padding-left: 5px;
}
#newRegimenForm #addNewRegimen {
  margin: 5px 0px 5px 10px;
}
#newRegimenForm #addFailMessage {
  margin: 5px 10px 9px 10px;
}
#reportingFields {
  padding-top: 20px;
}
.regimenForm .rnr-template-head .row-fluid {
  padding-top: 8px;
}
.regimenForm .rnr-template-head .row-fluid [class*="span"] {
  min-height: 27px;
}
.regimenForm .rnr-template-head .row-fluid span {
  padding-left: 35px;
}
.regimenForm .category-name {
  border-top: 0;
  background: #45a7ad;
  font-size: 0.9em;
  color: white;
}
.regimenForm .category-name div {
  padding: 2px 10px;
}
.regimenForm div[ui-sortable] > div {
  border-bottom: 1px solid #BBB;
}
.regimenForm .rnr-template-columns {
  position: relative;
  padding: 10px 0 8px;
  margin-bottom: 0px;
}
.regimenForm .rnr-template-columns:hover {
  background-color: #ececec;
}
.regimenForm .rnr-template-columns input[type="text"] {
  margin-bottom: 8px;
}
.regimenForm .rnr-template-columns input[type="checkbox"] {
  margin-left: 13px;
}
.regimenForm .rnr-template-columns .drag-handle {
  height: 16px;
  width: 12px;
  position: absolute;
  top: 33%;
  left: 9px;
  background: url("../images/sort-icon.png") no-repeat left center;
  cursor: move;
}
.regimenForm .rnr-template-columns [class*="span"] div:first-child {
  padding-top: 4px;
  padding-left: 7px;
}
.regimenForm .regiment-list-items {
  border: 1px solid #BBB;
  border-top: 0 none;
  border-bottom: 0 none;
}
.editable-row {
  background: #ececec;
}
.editable-row .alert {
  padding: 3px 10px;
  margin: 0 33px;
  clear: both;
  font-size: 0.9em;
}
.rnr-tabs {
  margin: 5px 0 20px;
  border-bottom: 2px solid #307579;
  font-size: 0.9em;
  font-weight: bold;
}
.rnr-tabs ul {
  margin: 0;
  float: left;
  list-style: none;
}
.rnr-tabs li {
  margin: 0 3px;
  float: left;
  border-radius: 4px 4px 0 0;
  background: #b8b8b8;
}
.rnr-tabs li a {
  display: block;
  padding: 8px 16px 6px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
}
.rnr-tabs li a:hover {
  text-decoration: none;
}
.rnr-tabs li:first-child {
  margin-left: 7px;
}
.rnr-tabs li:hover {
  background: #999;
}
.rnr-tabs li.selected {
  background: #307579;
}
.rnr-tabs li.has-error a {
  padding-left: 33px;
  background-image: url("../images/tab-error.png");
  background-position: 9px center;
  background-repeat: no-repeat;
}
.rnr-tabs span.pull-right {
  margin-left: 5px;
}
.rnr-tabs span.pull-right a {
  font-weight: normal;
}
.rnr-tabs .print-button {
  display: none;
  opacity: 0.0;
}
#sortable .ui-sortable-helper {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  border: 1px solid rgba(23, 136, 143, 0.8);
}
#sortable .sortable-placeholder {
  height: 70px;
  margin: 10px 0;
  border: 2px dashed #5BA5D6;
  background: #E8F8FF;
}
.rnr-template-columns input[type="text"] {
  height: 18px;
  width: 70%;
  margin-bottom: 2px;
  font-size: 1em;
}
.rnr-template-columns select {
  margin-bottom: 5px;
}
.rnr-template-columns .col-desc {
  width: 74%;
  display: block;
  padding: 0 0 0 1px;
  font-size: 0.9em;
  line-height: 14px;
  color: #555;
}
.rnr-table .float-left {
  float: left;
}
.rnr-table .clear-both {
  clear: both;
}
.rnr-table .left-table,
.rnr-table .right-table {
  overflow: auto;
  position: relative;
}
.rnr-table .left-table table,
.rnr-table .right-table table {
  margin-bottom: 0px;
}
.rnr-table .left-table table thead,
.rnr-table .right-table table thead {
  top: 0px;
}
.rnr-table .left-table table thead th,
.rnr-table .right-table table thead th {
  text-align: left;
}
.rnr-table .left-table {
  width: 30%;
  max-width: 30%;
}
.rnr-table .left-table input[type="checkbox"] {
  margin-top: -3px;
}
.rnr-table .right-table {
  width: 69.6%;
  max-width: 69.6%;
  border-left: #ccc solid 1px;
}
.rnr-table th {
  min-width: 123px;
  padding: 9px 6px 4px;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 14px;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
  background: #EEE;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
}
.rnr-table .table-bordered th,
.rnr-table .table-bordered td {
  border-left: none;
  border-right: 1px solid #ddd;
}
.rnr-table .table-bordered th:last-child,
.rnr-table .table-bordered td:last-child {
  border-right: none;
}
.rnr-table .table-bordered th .ng-scope,
.rnr-table .table-bordered td .ng-scope {
  display: block;
  position: relative;
}
.rnr-table .table-bordered th:first-child,
.rnr-table .table-bordered td:first-child {
  border-left: 1px solid #ddd;
}
.rnr-table td {
  font-family: Verdana, Arial, sans-serif;
}
.rnr-table.regimen-table .col-code {
  min-width: 100px;
}
.rnr-table.regimen-table .col-name {
  min-width: 190px;
  padding-left: 6px;
}
.rnr-table.regimen-table .col-remarks {
  min-width: 460px;
}
.rnr-table.regimen-table .col-remarks input[type="text"].cell-text {
  width: 96%;
  padding: 0px 6px;
}
.rnr-table.regimen-table .col-patientsOnTreatment input[type="text"],
.rnr-table.regimen-table .col-patientsToInitiateTreatment input[type="text"],
.rnr-table.regimen-table .col-patientsStoppedTreatment input[type="text"] {
  width: 91%;
}
.rnr-table.regimen-table th {
  width: 90px;
}
.rnr-table.regimen-table tbody tr:last-child td:first-child {
  padding-left: 7px;
}
.rnr-table.regimen-table tbody tr:last-child .cell-text {
  width: 99%;
  padding: 0;
}
.rnr-table td .rnr-form-error,
#facilityApprovedProductTable td .rnr-form-error,
#facilityApprovedProductsModal .rnr-form-error,
.facility-distribution-form-table td .rnr-form-error,
#productForm .rnr-form-error,
#reportParametersTable .rnr-form-error,
.refrigerator-form .rnr-form-error {
  min-width: 92px;
  padding: 0px 6px;
  position: absolute;
  bottom: 28px;
  right: -6%;
  border-radius: 10px;
  background: rgba(153, 77, 77, 0.8);
  font-size: 0.7em;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  z-index: 1;
}
.rnr-table td .rnr-form-error:after,
#facilityApprovedProductTable td .rnr-form-error:after,
#facilityApprovedProductsModal .rnr-form-error:after,
.facility-distribution-form-table td .rnr-form-error:after,
#productForm .rnr-form-error:after,
#reportParametersTable .rnr-form-error:after,
.refrigerator-form .rnr-form-error:after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -5px;
  right: 12%;
  z-index: 1;
  border-top: 5px solid rgba(153, 77, 77, 0.8);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
}
.rnr-table td .warning-alert,
#facilityApprovedProductTable td .warning-alert,
#facilityApprovedProductsModal .warning-alert,
.facility-distribution-form-table td .warning-alert,
#productForm .warning-alert,
#reportParametersTable .warning-alert,
.refrigerator-form .warning-alert {
  min-width: 100px;
  padding: 1px 9px 1px 28px;
  margin: 0 0 5px;
  display: block;
  position: absolute;
  left: -3px;
  bottom: 28px;
  border-radius: 17px;
  border-color: #e4b863;
  background-image: url(../images/warning_triangle.png);
  background-repeat: no-repeat;
  background-position: 7px center;
  font-size: 0.8em;
  line-height: 1.5;
  white-space: nowrap;
  color: #b38907;
  z-index: 1;
}
.rnr-table td .warning-alert:after,
#facilityApprovedProductTable td .warning-alert:after,
#facilityApprovedProductsModal .warning-alert:after,
.facility-distribution-form-table td .warning-alert:after,
#productForm .warning-alert:after,
#reportParametersTable .warning-alert:after,
.refrigerator-form .warning-alert:after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -6px;
  left: 12px;
  z-index: 10;
  border-top: 6px solid #fcf8e3;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
}
.rnr-table td .warning-alert:before,
#facilityApprovedProductTable td .warning-alert:before,
#facilityApprovedProductsModal .warning-alert:before,
.facility-distribution-form-table td .warning-alert:before,
#productForm .warning-alert:before,
#reportParametersTable .warning-alert:before,
.refrigerator-form .warning-alert:before {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -7px;
  left: 11px;
  z-index: 10;
  border-top: 7px solid #b38907;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}
.rnr-table td .reasonForRequestedQuantityContainer .rnr-form-error,
#facilityApprovedProductTable td .reasonForRequestedQuantityContainer .rnr-form-error,
#facilityApprovedProductsModal .reasonForRequestedQuantityContainer .rnr-form-error,
.facility-distribution-form-table td .reasonForRequestedQuantityContainer .rnr-form-error,
#productForm .reasonForRequestedQuantityContainer .rnr-form-error,
#reportParametersTable .reasonForRequestedQuantityContainer .rnr-form-error,
.refrigerator-form .reasonForRequestedQuantityContainer .rnr-form-error,
.rnr-table td .expirationDateContainer .rnr-form-error,
#facilityApprovedProductTable td .expirationDateContainer .rnr-form-error,
#facilityApprovedProductsModal .expirationDateContainer .rnr-form-error,
.facility-distribution-form-table td .expirationDateContainer .rnr-form-error,
#productForm .expirationDateContainer .rnr-form-error,
#reportParametersTable .expirationDateContainer .rnr-form-error,
.refrigerator-form .expirationDateContainer .rnr-form-error {
  right: auto;
  left: -6px;
}
.rnr-table td .reasonForRequestedQuantityContainer .rnr-form-error:after,
#facilityApprovedProductTable td .reasonForRequestedQuantityContainer .rnr-form-error:after,
#facilityApprovedProductsModal .reasonForRequestedQuantityContainer .rnr-form-error:after,
.facility-distribution-form-table td .reasonForRequestedQuantityContainer .rnr-form-error:after,
#productForm .reasonForRequestedQuantityContainer .rnr-form-error:after,
#reportParametersTable .reasonForRequestedQuantityContainer .rnr-form-error:after,
.refrigerator-form .reasonForRequestedQuantityContainer .rnr-form-error:after,
.rnr-table td .expirationDateContainer .rnr-form-error:after,
#facilityApprovedProductTable td .expirationDateContainer .rnr-form-error:after,
#facilityApprovedProductsModal .expirationDateContainer .rnr-form-error:after,
.facility-distribution-form-table td .expirationDateContainer .rnr-form-error:after,
#productForm .expirationDateContainer .rnr-form-error:after,
#reportParametersTable .expirationDateContainer .rnr-form-error:after,
.refrigerator-form .expirationDateContainer .rnr-form-error:after {
  right: auto;
  left: 11px;
}
.refrigerator-form .rnr-form-error {
  right: 0;
}
.header-fixed {
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 1;
}
.header-fixed table {
  padding: 0px;
  margin: 0px;
}
.header-fixed th {
  border-radius: 0 !important;
  background: #444;
  text-shadow: none;
  color: white;
}
#header-columns-fixed {
  z-index: 11;
}
#header-columns-fixed table {
  width: auto;
}
.column-fixed {
  position: fixed;
  z-index: 10;
}
.column-fixed table {
  width: auto;
  box-shadow: #ddd 1px 0px 0px;
}
table .productCategory,
.productCategory {
  padding: 9px 12px 9px 9px;
  background-color: #45a7ad;
  font-size: 12px;
  line-height: 8px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
}
table .productCategory .ngAggregateText,
.productCategory .ngAggregateText {
  left: 12px;
}
input[ui-date] {
  background: #ffffff url(../images/calendar-icon.png) no-repeat 98% center;
  cursor: pointer;
}
input[ui-date][disabled] {
  background-color: #EEE;
}
.info-box {
  padding: 9px 12px 2px;
  margin-bottom: 18px;
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #B9B9B9;
  background: #F2F2F2;
  font-size: 0.9em;
  text-shadow: 0 1px 0 white;
}
.info-box > table td {
  padding: 4px 20px 10px 0;
}
/* R&R form */
/* Cell size: Small */
/* Cell size: Medium */
/* Cell size: Large */
/*th.col-product,*/
th.col-remarks,
th.col-reasonForRequestedQuantity,
th.col-reasonForLossesAndAdjustments {
  min-width: 280px;
}
td.col-general input[type="text"],
td.col-beginningBalance input[type="text"],
td.col-quantityReceived input[type="text"],
td.col-quantityReturned input[type="text"],
td.col-quantityDispensed input[type="text"],
td.col-newPatientCount input[type="text"],
td.col-stockInHand input[type="text"],
td.col-stockOutDays input[type="text"],
td.col-quantityRequested input[type="text"],
td.col-quantityApproved input[type="text"] {
  width: 89%;
  text-align: right;
}
.col-row-number {
  width: 20px;
}
td.col-expirationDate input[type="text"] {
  width: 89%;
}
td.col-patientsOnTreatment input[type="text"],
td.col-patientsToInitiateTreatment input[type="text"],
td.col-patientsStoppedTreatment input[type="text"] {
  text-align: right;
}
td.col-general span,
td.col-beginningBalance span,
td.col-total span,
td.col-stockInHand span,
td.col-normalizedConsumption span,
td.col-periodNormalizedConsumption span,
td.col-amc span,
td.col-maxStockQuantity span,
td.col-calculatedOrderQuantity span,
td.col-packsToShip span,
td.col-price span,
td.col-cost span,
td.col-lossesAndAdjustments span {
  display: block;
  text-align: right;
}
td.col-general span.row-specific-error span,
td.col-beginningBalance span.row-specific-error span,
td.col-total span.row-specific-error span,
td.col-stockInHand span.row-specific-error span,
td.col-normalizedConsumption span.row-specific-error span,
td.col-periodNormalizedConsumption span.row-specific-error span,
td.col-amc span.row-specific-error span,
td.col-maxStockQuantity span.row-specific-error span,
td.col-calculatedOrderQuantity span.row-specific-error span,
td.col-packsToShip span.row-specific-error span,
td.col-price span.row-specific-error span,
td.col-cost span.row-specific-error span,
td.col-lossesAndAdjustments span.row-specific-error span {
  text-align: left;
}
td.col-quantityReceived span,
td.col-quantityDispensed span,
td.col-newPatientCount span,
td.col-stockOutDays span,
td.col-quantityRequested span,
td.col-patientsOnTreatment span,
td.col-patientsToInitiateTreatment span,
td.col-patientsStoppedTreatment span,
td.col-quantityApproved span,
td.col-packsToShip span,
td.col-quantityShipped span {
  text-align: right;
  display: block;
}
td.col-remarks input[type="text"] {
  width: 93%;
}
table td.col-formula {
  text-align: center;
}
.col-formula .indicator,
.rnr-template-columns .indicator {
  padding: 0 6px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 4px #999999;
  -moz-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  border-radius: 26px;
  border: 3px solid white;
  background: #CE5959;
  font-size: 0.7em;
  font-weight: bold;
  color: white;
}
.rnr-template-columns .indicator {
  font-size: 0.8em;
}
.rnr-form-error {
  padding-bottom: 3px;
  font-size: 0.8em;
  color: #E93434;
}
.col-formula .formula {
  min-width: 140px;
  padding-top: 3px;
  margin-top: 6px;
  border-top: 1px dashed #AAA;
  font-style: italic;
  font-size: 0.8em;
  line-height: 15px;
  cursor: pointer;
  color: #249BD3;
}
.col-formula .formula:hover {
  text-decoration: underline;
}
table tr.highlight td {
  border-bottom: 1px solid #3585CF;
  border-top: 1px solid #3585CF;
  background: #ECFAFF;
}
table td.cell-input {
  padding: 0;
  position: relative;
  background-color: #f9f9f9;
  vertical-align: middle;
}
table td.cell-input .cell-text {
  padding: 2px 6px;
  display: inline-block;
  font-size: 0.8em;
  line-height: 18px;
}
table td.cell-input .display-block,
.display-block {
  display: block;
}
.cell-input input[type="text"],
.cell-input select {
  height: 29px;
  width: 96%;
  padding: 0 3px;
  margin: 2px 2px;
  border: 1px solid #BBB;
  border-radius: 0;
  font-size: 0.8em;
}
.cell-input input:focus:required:invalid:focus.ng-pristine,
.cell-input textarea:focus:required:invalid:focus.ng-pristine,
.cell-input select:focus:required:invalid:focus.ng-pristine,
.cell-input input[type='text']:focus {
  -webkit-box-shadow: inset 0 0 5px rgba(23, 136, 143, 0.9);
  -moz-box-shadow: inset 0 0 5px rgba(23, 136, 143, 0.9);
  box-shadow: inset 0 0 5px rgba(23, 136, 143, 0.9);
  border-color: #17888f;
}
.search-query {
  margin-top: 10px;
}
.search-box-gap {
  margin-bottom: 10px;
}
.search-box-gap .search-query {
  margin-top: 0px;
}
.form-tip {
  margin: 3px 0 0 5px;
  font-size: 0.8em;
  color: #666;
}
.search-list {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px 0;
}
.search-list h3 {
  padding: 8px 10px;
  margin: 0;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  line-height: normal;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}
.search-list .close-btn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 10px;
  right: 11px;
  opacity: 0.8;
  background: url(../images/close-icon.png) no-repeat left top;
  text-indent: -999em;
}
.search-list .close-btn:hover {
  opacity: 1;
}
.search-list ul {
  margin: 0;
  list-style: none;
}
.search-list ul li {
  border-top: 1px solid #CCC;
}
.search-list ul li:first-child {
  border-top: 0;
}
.search-list ul li > a {
  padding: 10px;
  display: block;
}
.search-list ul li > a:hover + .user-actions a,
.search-list ul li > a:focus + .user-actions a {
  display: inline-block;
}
.search-list ul li > span {
  padding: 10px;
  display: block;
}
.search-list ul li:hover > a {
  background-color: #f9f9f9;
}
.search-list ul li:hover .user-actions a {
  display: inline-block !important;
}
.search-list ul .user-actions {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 6px 0;
  display: inline-block;
}
.search-list ul .user-actions a {
  display: none;
  margin-right: 5px;
}
h3 {
  font-size: 1.3em;
}
.adjustments-modal .alert-danger {
  margin: 10px 0 0;
}
.adjustment-field input[type="text"] {
  width: 100px;
  margin-left: 7px;
  border-radius: 4px;
  text-align: right;
}
.adjustment-field .rnr-form-error {
  padding-right: 5px;
  text-align: right;
}
.adjustment-field > * {
  margin-right: 10px;
  vertical-align: top;
}
.adjustment-list {
  max-height: 204px;
  margin-top: 10px;
  overflow: auto;
  border: 1px solid #CCC;
  background: #fafafa;
}
.adjustment-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.adjustment-list ul li {
  border-top: 1px solid #eee;
}
.adjustment-list ul li:first-child {
  border-top: 0 none;
}
.adjustment-list ul li .tpl-adjustment-type {
  width: 220px;
  line-height: 26px;
}
.adjustment-list ul li .tpl-adjustment-qty {
  float: right;
  text-align: right;
}
.adjustment-list ul li .tpl-adjustment-qty input {
  width: 70px;
  padding-right: 10px;
  margin-bottom: 0;
  border-radius: 3px;
  text-align: right;
}
.adjustment-list ul li .tpl-adjustment-delete {
  padding-top: 14px;
  float: right;
}
.checkbox-list input[type="checkbox"] {
  margin-top: 8px;
  float: left;
}
.checkbox-list label {
  padding: 5px 10px;
  float: left;
  cursor: pointer;
}
.checkbox-list:hover {
  background: #EEE;
}
.button-row {
  padding: 7px 0;
}
.gradient-header th {
  min-width: 93px;
  background: #EEE;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}
.total-cost {
  border-radius: 0;
  font-size: 1.1em;
  font-weight: bold;
}
.budget-exceeded-icon {
  position: relative;
  color: #CE8726;
}
.budget-exceeded-icon:hover #budgetWarningMessage {
  display: block;
}
#budgetWarningMessage {
  display: none;
}
.warning-alert {
  padding: 1px 8px 1px 27px;
  margin: 0 0 5px;
  display: block;
  border-radius: 0;
  background-image: url(../images/warning_triangle.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  font-size: 0.9em;
}
.rnr-adjustment {
  padding: 0 6px;
  display: block;
  font-size: 0.85em;
  line-height: 28px;
  text-align: right;
  background: url(../images/edit-icon.png) no-repeat 8px center;
}
.rnr-adjustment .adjustment-value {
  font-weight: bold;
}
.adjustment-total {
  padding: 10px 52px 10px 10px;
  margin: 10px 0 0;
  border-radius: 0;
  border-color: #F0D29F;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.list-header-container {
  border: 1px solid #CCC;
  border-radius: 5px 5px 0px 0px;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
}
.list-header {
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}
.list-header div {
  display: inline-block;
  line-height: 40px;
}
.list-header .first-column {
  padding-left: 20px;
  display: block;
  white-space: nowrap;
}
.list-container {
  border: 1px solid #CCC;
  border-top: 0;
}
.list-row {
  padding: 12px 0;
  border-bottom: 1px solid #EEE;
}
.list-row input[type="text"] {
  width: 76%;
}
.list-row .first-column {
  padding-left: 20px;
  display: block;
}
.list-row .first-column.checkbox-column {
  padding-left: 30px;
}
.list-row div:last-child input[type="button"] {
  margin-right: 12px;
  float: right;
}
.list-row:hover {
  background-color: #F9F9F9;
}
.list-row input[type="button"] {
  margin-left: 20px;
}
.program-isa {
  padding-top: 10px;
}
.program-isa .span1 label {
  padding-top: 4px;
}
.product-isa .span2 label {
  padding-top: 22px;
}
.schedule-form,
.edit-schedule-form {
  margin: 0;
}
.schedule-form .save-row-active,
.edit-schedule-form .save-row-active {
  border-style: solid;
  border-width: 1px;
}
.schedule-form .save-row-active input,
.edit-schedule-form .save-row-active input {
  margin: 0;
}
.schedule-form .save-row-active .list-row,
.edit-schedule-form .save-row-active .list-row {
  padding: 16px 0;
  border: 0 none;
}
.schedule-form .save-row-active .save-cancel-row,
.edit-schedule-form .save-row-active .save-cancel-row {
  padding: 8px 0;
}
.schedule-form .save-row-active .save-cancel-row div,
.edit-schedule-form .save-row-active .save-cancel-row div {
  min-height: 20px;
}
.schedule-form .form-error,
.edit-schedule-form .form-error {
  line-height: 24px;
}
.save-row-active {
  border-color: #17b4c2 #dfdfdf;
  background-color: #e1f5f8;
}
.save-cancel-row {
  background-color: #c7e5e7;
}
.edit-schedule-form .save-row-active {
  border-color: #949494 #dfdfdf;
  background-color: #f8f8f8;
}
.edit-schedule-form .save-row-active .save-cancel-row {
  background-color: #ebebeb;
}
.period-table thead {
  border-radius: 5px 5px 0px 0px;
}
.period-table thead th {
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  padding: 11px 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
}
.period-table tr:hover {
  background-color: #F9F9F9;
}
.period-table tr td {
  padding: 16px 10px;
}
.period-table tr td.col-total-days,
.period-table tr td.col-number-of-months,
.period-table tr td.col-delete-button {
  text-align: right;
}
.period-table .col-number-of-months,
.period-table .col-total-days,
.period-table .col-delete-button {
  max-width: 40px;
  min-width: 40px;
}
.period-table .col-period-name,
.period-table .col-description {
  max-width: 150px;
}
.period-table .col-start-date,
.period-table .col-end-date {
  max-width: 100px;
}
select.required-error,
input.required-error,
textarea.required-error {
  border-color: #E9322D !important;
}
select.required-error:focus,
input.required-error:focus,
textarea.required-error:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
input.warning-error {
  border-color: #9e811d !important;
  background-color: #feffe1;
}
input.warning-error:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
input[type='text'] {
  outline: 0 none !important;
}
.row-fluid [class*="span"] {
  word-wrap: break-word;
}
input:focus:required:invalid:focus.ng-pristine,
textarea:focus:required:invalid:focus.ng-pristine,
select:focus:required:invalid:focus.ng-pristine {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  border-color: rgba(23, 136, 143, 0.8);
  color: #555;
}
@-webkit-keyframes highlight {
  0% {
    background: transparent;
  }
  10% {
    background: #FFFFD3;
  }
  50% {
    background: #FFFFD3;
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes highlight {
  0% {
    background: transparent;
  }
  10% {
    background: #FFFFD3;
  }
  50% {
    background: #FFFFD3;
  }
  100% {
    background: transparent;
  }
}
.updated-item {
  -webkit-animation-name: highlight;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: highlight;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: 1;
}
table td.delete-button {
  text-align: center;
}
.cell-error-highlight {
  display: block;
  position: relative;
  background: #FFEFEF;
  color: #CF2323;
}
.cell-error-highlight input[type='text'] {
  border: 1px solid #E22B2B;
  background-color: transparent !important;
  color: #CF2323;
}
.cell-error-highlight input[type='text']:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #E22B2B;
}
.cell-error-highlight:hover .row-specific-error {
  display: block !important;
}
.row-error-highlight td {
  border-top: 2px solid #E28E8E;
  border-bottom: 2px solid #E28E8E;
  background-color: #FCDFDF !important;
}
.row-specific-error {
  width: 109%;
  max-width: 160px;
  padding: 6px;
  margin-left: -82px;
  display: none;
  position: absolute;
  bottom: 36px;
  left: 50%;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border: 2px solid #E43D3D;
  border-radius: 6px;
  background: #FFF !important;
  font-size: 0.8em;
  line-height: 13px;
  color: #CF2323;
}
.row-specific-error .beak-down {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -9px;
  left: 46%;
  border-top: 8px solid #E22F2F;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.gridStyle {
  height: 400px;
  width: 100%;
  border: 1px solid #d4d4d4;
}
.approveGrid {
  width: 100%;
  max-height: 1320px;
  min-height: 333px;
  margin-top: 10px;
  border: 1px solid #d4d4d4;
}
.roleGrid {
  height: 200px;
  width: 100%;
  border: 1px solid #d4d4d4;
}
.grid-filters {
  padding: 10px 0 20px;
  text-align: right;
}
.grid-filters .search-query {
  width: 140px;
  padding: 4px 6px;
  margin-top: 0;
}
.grid-filters select {
  width: 170px;
  margin: 0 0 0 8px;
}
.grid-filters #searchProduct {
  width: 85%;
  margin-right: 0px;
  float: right;
}
.search-in-category {
  margin-bottom: 10px;
}
.search-in-category .dropdown-menu {
  text-align: left;
}
.search-in-category .btn-group {
  display: inline-block;
}
#searchControl .search-in-category {
  margin-bottom: 0;
}
#searchControl input {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.autosuggest-input {
  position: relative;
}
.autosuggest-input .search-list {
  width: 501px;
  position: absolute;
  top: 19px;
  left: 0;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0 0 3px 3px;
  background: white;
  font-size: 0.9em;
}
.autosuggest-input .search-list li {
  border: 0;
}
.autosuggest-input .search-list li:hover a {
  background-color: #dadada;
  text-decoration: none;
}
.autosuggest-input .search-list li a {
  padding: 6px 10px;
  color: #444;
}
.editBtn {
  position: relative;
  top: 4px;
  left: 700px;
}
.init-rnr label {
  margin: 0;
  vertical-align: text-top;
}
.init-rnr input[type='radio'] {
  margin: 0;
}
.init-rnr-grid {
  margin: 20px 0;
}
.init-rnr-grid .gridStyle {
  width: 720px;
}
.init-rnr-grid .ngCell input {
  width: 80%;
}
.suggest-field {
  height: 20px;
  width: 87%;
  padding: 4px 6px;
  position: relative;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #FFF;
}
.suggest-field input[type="text"] {
  height: 20px;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
}
.suggest-field input[type="text"]:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.suggest-field .clear-search {
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.8;
  background: url(../images/clear-search-icon.png) no-repeat center center;
  text-indent: -999em;
}
.suggest-field:hover .clear-search {
  opacity: 1;
}
.ngGrid {
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.9em;
}
.ngCell {
  z-index: auto !important;
  overflow: visible;
}
.ngCell input {
  width: 88%;
}
.ngCell .orderStatusCellText {
  overflow: visible;
}
.ngCellText.checked {
  padding-left: 20px;
  font-size: 1.2em;
}
.ngTopPanel {
  background-color: transparent;
}
.ngHeaderContainer {
  background-color: #f8f8f8;
}
.ngHeaderSortColumn[style*='pointer'] {
  background: url(../images/sortable.png) no-repeat right 12px;
}
.ngSortButtonDown,
.ngSortButtonUp {
  height: 5px;
  width: 20px;
  top: 12px;
  right: 10px;
  left: auto;
  border: 0;
}
.ngSortButtonDown {
  background: url(../images/sort-down.png) no-repeat left top;
}
.ngSortButtonUp {
  background: url(../images/sort-up.png) no-repeat left top;
}
.ngViewport {
  outline: 0 none;
}
.grid-btn {
  margin: 2px 10px;
}
.rnr-approval .rnr-adjustment {
  background-image: none;
  text-align: left;
}
.user-program {
  padding: 10px;
}
.user-list li {
  position: relative;
}
.user-list li.user-disabled .user-username,
.user-list li.user-disabled .user-name {
  color: #888;
}
.user-name {
  font-weight: bold;
}
.user-username {
  color: #666;
}
td .close {
  display: block;
  float: none;
  text-align: center;
}
.prog-role-grid .fluid-grid {
  border-radius: 3px 3px 0 0;
}
.prog-role-grid .row-fluid {
  border-top: 1px solid #DDD;
}
.prog-role-grid .row-fluid:first-child {
  border-top: 0 none;
}
.prog-role-grid .field-error {
  padding-top: 2px;
  display: block;
  font-size: 0.9em;
  color: #E93434;
}
.prog-role-grid .add-role-row {
  padding: 15px 10px 10px;
  border: 1px solid #DDD;
  border-top: 0 none;
  border-radius: 0 0 3px 3px;
  background-color: #e0e0e0;
}
.prog-role-grid .add-role-row .fluid-grid-cell {
  padding: 0;
}
.prog-role-grid .add-role-row .select2-roles .fluid-grid-cell {
  padding: 0 4px;
}
.prog-role-grid .add-role-row.supervisory-roles .select2-roles .fluid-grid-cell {
  padding: 0 5px 0 9px;
}
.prog-role-grid .add-role-row select {
  width: 100%;
  margin-bottom: 0;
}
.prog-role-grid .add-role-row select[multiple] {
  width: auto;
}
.fluid-grid {
  border: 1px solid #DDD;
  border-radius: 3px;
}
.fluid-grid-header {
  font-weight: bold;
}
.fluid-grid-cell {
  padding: 10px;
}
.non-full-heading {
  padding: 4px 7px;
  margin: 0;
  background: #EEE;
  font-size: 1em;
}
.delete-role {
  margin: 10px 0 0 -5px;
}
.select2-results .select2-highlighted {
  background: #61acaf;
}
.select2-results .select2-highlighted .status-icon {
  -webkit-box-shadow: 0px 0px 1px 1px #f5f5f5;
  -moz-box-shadow: 0px 0px 1px 1px #f5f5f5;
  box-shadow: 0px 0px 1px 1px #f5f5f5;
}
.row-fluid [class*="span"].select2-container {
  margin-left: 0;
}
.row-fluid [class*="span"].select2-container.bottom-spacer {
  margin-bottom: 15px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border-color: #17888f;
}
.select2-container-multi.select2-container-active .select2-choices {
  border-color: #17888f;
}
.select2-container-multi .select2-choices li {
  float: none;
}
.select2-container-multi .select2-choices li.select2-search-choice {
  padding: 3px 20px 3px 5px;
  margin-right: 4px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  font-size: 0.9em;
  font-weight: bold;
  color: #17888f !important;
}
.select2-container-multi .select2-search-choice-close {
  top: 3px;
  left: auto;
}
.add-supported-program-row {
  background-color: #efefef;
}
.grid-input-row-grey {
  background-color: #efefef;
}
.input-adjusted {
  height: 28px !important;
}
.loader-icon {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent url('../images/loader.gif') 50% 50% no-repeat;
}
.view-req-form {
  padding: 10px 15px;
}
.view-req-form .row-fluid {
  padding: 4px 0 8px;
}
.view-req-form .row-fluid .select2-container {
  width: 80%;
}
.view-req-form .row-fluid.date-range {
  padding-top: 7px;
}
.view-req-form .row-fluid.date-range label {
  display: inline;
}
.view-req-form .row-fluid.date-range input {
  width: 50%;
}
input[placeholder].placeholder {
  color: #a2a2a2;
}
#viewReqList .ngRow.odd:hover,
#approveReqList .ngRow.odd:hover,
#viewReqList .ngRow.odd:hover + .ngRow.odd,
#approveReqList .ngRow.odd:hover + .ngRow.odd {
  background-color: #bdd0cb;
}
#viewReqList .ngRow.even:hover,
#approveReqList .ngRow.even:hover,
#viewReqList .ngRow.even:hover + .ngRow.even,
#approveReqList .ngRow.even:hover + .ngRow.even {
  background-color: #bdd0cb;
}
#viewReqList .ngCellText span,
#approveReqList .ngCellText span {
  cursor: pointer !important;
}
.orderNumber {
  white-space: pre;
}
.content .pagination {
  margin-bottom: 30px;
}
.content .pagination ul {
  float: right;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.content .pagination li a {
  padding: 3px 9px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
  -moz-box-shadow: inset 0 0 2px #ffffff;
  box-shadow: inset 0 0 2px #ffffff;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  background: #e7e7e7;
  line-height: 20px;
  color: #777;
}
.content .pagination li.errorPage a {
  border-color: #dd2a2a;
  background-color: red;
  color: #ffffff;
}
.content .pagination li.active a {
  border-color: #419EA2;
  background-color: #60ACAF;
  color: #E1EDED;
}
.content .pagination li.disabled a {
  color: #CCC;
}
.content .pagination li.disabled a:hover {
  background-color: #e7e7e7;
}
#overrideIsaModal,
#programProductISA {
  width: 1000px;
  margin-top: -260px;
  margin-left: -500px;
}
#overrideIsaModal label,
#programProductISA label {
  text-align: right;
}
#overrideIsaModal .ISAFormulaModalSubContent h5,
#programProductISA .ISAFormulaModalSubContent h5 {
  margin-bottom: 0px;
}
#overrideIsaModal .modal-body,
#programProductISA .modal-body {
  max-height: 500px;
  padding-top: 5px;
}
#overrideIsaModal .modal-body form,
#programProductISA .modal-body form {
  margin: 0 0 10px;
}
#overrideIsaModal .modal-body input[type="text"],
#programProductISA .modal-body input[type="text"] {
  padding: 4px 6px;
}
#overrideIsaModal .modal-body .label,
#programProductISA .modal-body .label {
  font-size: 1.1em;
}
#overrideIsaModal .calculatedAmount,
#programProductISA .calculatedAmount {
  padding: 5px 10px;
  border: 1px solid #dadada;
  background-color: #f7f7f7;
  color: #777;
}
#overrideIsaModal .calculatedAmount input[type="text"],
#programProductISA .calculatedAmount input[type="text"] {
  width: 90px;
  margin: 0px 2px;
}
#overrideIsaModal #monthlyRestockAmount,
#programProductISA #monthlyRestockAmount {
  padding: 10px 10px;
  font-size: 1.2em;
}
#overrideIsaModal #ISA-population,
#programProductISA #ISA-population {
  border-color: #dac73b;
  background-color: #f8f3ce;
  color: #a5990d;
}
#overrideIsaModal .modal-footer #saveFailMessage,
#programProductISA .modal-footer #saveFailMessage {
  display: none;
}
#overrideIsaModal .form-error,
#programProductISA .form-error {
  margin: -6px 0 8px 0;
  display: none;
}
#programProductISA input[type="text"] {
  text-align: right;
}
#nonFullSupplyProductsModal,
#facilityApprovedProductsModal {
  width: 980px;
  margin-left: -490px;
}
#nonFullSupplyProductsModal label,
#facilityApprovedProductsModal label {
  font-size: 1em;
}
#nonFullSupplyProductsModal .modal-body,
#facilityApprovedProductsModal .modal-body {
  font-size: 0.9em;
}
#nonFullSupplyProductsModal hr,
#facilityApprovedProductsModal hr {
  margin: 3px 0 10px;
}
#nonFullSupplyProductsModal .modal-footer,
#facilityApprovedProductsModal .modal-footer {
  text-align: left;
}
#nonFullSupplyProductsModal .select2-default,
#facilityApprovedProductsModal .select2-default {
  color: #555 !important;
}
.product-list {
  max-height: 175px;
  overflow: auto;
  border: 1px solid #CCC;
  background: #FAFAFA;
}
.product-list > .row-fluid {
  border-bottom: 1px solid #EEE;
}
.product-list > .row-fluid input[type='text'] {
  width: 100%;
  margin-bottom: 0;
}
.product-list > .row-fluid .delete-role {
  margin-top: 5px;
  font-size: 1.8em;
}
.product-list-header {
  border-bottom: 1px solid #ccc !important;
}
.product-list-header span,
.product-list-header label {
  margin-bottom: 0;
  font-weight: bold;
  line-height: 16px;
}
.page-errors {
  padding: 7px 30px;
  margin-top: 10px;
  border: 1px solid #ff5656;
  background: #ffebeb url(../images/tab-error.png) no-repeat 8px center;
}
.page-errors .dropdown {
  display: inline-block;
}
.page-errors .dropdown-toggle {
  padding-right: 18px;
  display: inline-block;
  background: url(../images/errordownarrow.png) no-repeat right 8px;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  color: #CA0000;
}
.page-errors .open .dropdown-toggle {
  background: url(../images/errordownarrow.png) no-repeat right -8px;
}
.page-errors .dropdown-menu {
  width: 60px;
  min-width: 60px;
  min-width: auto;
  padding: 0;
  right: 0;
  left: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ff5656;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.8em;
  text-align: right;
}
.page-errors .dropdown-menu li {
  line-height: normal;
}
.page-errors .dropdown-menu li a {
  padding: 3px 10px;
  font-weight: bold;
  color: #CA0000;
}
.page-errors .dropdown-menu li a:hover {
  background: #e74242;
  color: #FFF;
}
.roles-form .row-fluid,
.reports-form .row-fluid {
  padding-bottom: 20px;
}
.roles-form .row-fluid input[type='text'],
.reports-form .row-fluid input[type='text'] {
  width: 96%;
  margin: 0;
}
.roles-form .row-fluid .field-error,
.reports-form .row-fluid .field-error {
  font-size: 0.8em;
}
.roles-form .row-fluid .form-inline,
.reports-form .row-fluid .form-inline {
  width: 88%;
  min-height: 32px;
  padding-left: 35px;
  margin: 5px 5px 0;
  background: url('../images/radio-big-default.png') no-repeat;
}
.roles-form .row-fluid .radio-group,
.reports-form .row-fluid .radio-group {
  width: 360px;
  padding: 12px 18px;
  margin-top: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #FFF;
  font-size: 0.9em;
}
.roles-form .row-fluid .radio-group *,
.reports-form .row-fluid .radio-group * {
  margin: 0;
  vertical-align: middle;
}
.roles-form .row-fluid .radio-group label,
.reports-form .row-fluid .radio-group label {
  padding-left: 5px;
  font-size: 1em;
  cursor: pointer;
}
.roles-form .roles-note,
.reports-form .roles-note {
  font-size: 0.9em;
  font-style: italic;
  color: #666;
}
.roles-form .role-mixed-warning,
.reports-form .role-mixed-warning {
  padding-bottom: 8px;
}
.roles-form .role-mixed-warning .roles-note,
.reports-form .role-mixed-warning .roles-note {
  font-style: normal;
}
.is-disabled {
  color: #999;
}
.is-selected {
  background: url('../images/radio-big-checked.png') no-repeat !important;
}
#rightsTable th {
  vertical-align: top;
}
.rights-table tr th,
.rights-table tr td {
  width: 16.66%;
  padding: 20px 9px 20px 20px;
  background-color: white;
}
.rights-table tr:first-child th {
  padding: 2px;
  cursor: pointer;
}
.rights-table tr:first-child th:hover {
  position: relative;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.rights-table tr:first-child th label {
  padding: 2px 3px;
}
.rights-table tr:first-child th h4 {
  margin: 4px 0;
  font-size: 1.2em;
  color: #666;
}
.rights-table tr:first-child th * {
  cursor: pointer;
}
.rights-table tr .checkbox-list label {
  width: 80%;
  display: block;
}
.rights-table tr .is-disabled {
  background: #f8f8f8;
}
.rights-table tr .is-disabled * {
  cursor: default;
}
.rights-table tr .is-disabled .checkbox-list:hover {
  background: #f8f8f8;
}
.configure-program-table {
  width: 50%;
}
.cancel-button {
  margin-top: 4px;
  margin-left: 10px;
  float: left;
}
.note {
  padding: 8px 0 0;
  font-size: 0.9em;
  font-style: italic;
  color: #666666;
}
#overrideIsaTable {
  margin: 5px;
}
#overrideIsaTable input[type="text"] {
  margin-bottom: 0;
  text-align: right;
}
#overrideIsaTable div .list-row:hover {
  background-color: transparent;
}
#overrideIsaTable .list-container {
  height: 300px;
  overflow: auto;
}
#overrideIsaTable .use-calculated-isa-column {
  min-width: 140px;
}
#searchProduct.search-query {
  margin-bottom: 8px;
}
.geo-zone-facility-list h3 {
  margin: 3px 0;
  font-weight: normal;
  color: #48888f;
}
.facilities-isa-amount-table {
  overflow: auto;
}
.facilities-isa-amount-table tr th {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  font-size: 0.9em;
  text-shadow: 0 1px 0 white;
}
.facilities-isa-amount-table tr:last-child th {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background: #e0e0e0;
}
.facilities-isa-amount-table tr:last-child th:first-child {
  border-left: 1px solid #ddd;
}
.facilities-isa-amount-table tr td {
  text-align: right;
}
.facilities-isa-amount-table tr td:first-child {
  text-align: left;
}
.facilities-isa-amount-table tr:last-child td {
  background: #d6f5f8 !important;
  font-weight: bold;
}
.facilities-isa-amount-table .main-heading {
  text-align: center;
}
.manage-distribution .distribution-section,
.distribution-grid .distribution-section {
  margin-bottom: 20px;
}
.manage-distribution .delivery-zone,
.distribution-grid .delivery-zone {
  padding-left: 12px;
}
#changePassword .row-fluid [class*="span"] {
  min-height: 75px;
}
#changePassword form {
  margin-bottom: 0;
}
.include-header-form input,
.include-header-form label {
  margin: 2px 0 0;
  vertical-align: text-top;
}
.include-header-form input {
  margin: 6px 2px 0 0;
}
.add-new-row-button {
  margin-top: 6px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
}
.add-new-row-button a {
  font-size: 1.2em;
  color: #666;
  background-color: #d6d6d6;
  padding: 12px 0;
  text-align: center;
  display: block;
}
.add-new-row-button a:hover {
  background-color: #CCC;
  text-decoration: none;
  color: #555;
}
.remove-row {
  color: indianred;
  font-weight: bold;
  font-size: 2.4em;
}
.remove-row:hover {
  color: darkred;
  text-decoration: none;
}
.custom-tooltip {
  position: relative;
}
.custom-tooltip .custom-tooltip-msg {
  position: absolute;
  display: none;
  top: -5px;
  left: 19px;
  min-width: 100px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.7);
}
.custom-tooltip:hover .custom-tooltip-msg {
  display: block;
  z-index: 10;
}
.custom-tooltip .custom-tooltip-msg:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 6px;
  left: -8px;
  border-right: 8px solid rgba(0, 0, 0, 0.7);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: none;
}
.shipment-error .icon-warning-sign {
  color: darkred;
}
.select2-drop-mask {
  max-width: 100%;
  max-height: 100%;
}
.emergency-icon {
  max-width: 110px;
  border: 1px solid red;
}
.emergency-icon .ngHeaderSortColumn {
  width: 100%;
}
input[rnr-validator="positiveInteger"] {
  text-align: right;
}
.cell-input input[type="text"].small-width-ie {
  width: 86%;
}
.padding2px {
  padding: 2px;
}
#requisition-head-block {
  padding: 8px 0px 0px;
}
.regular {
  position: relative;
  background: #dbdbdb;
  padding: 25px 15px;
  text-align: center;
  font-weight: bold;
  min-width: 50px;
  margin-right: 15px;
  text-shadow: none;
}
.regular:after,
.regular:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.regular:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #dbdbdb;
  border-width: 35px 0 35px 15px;
  top: 50%;
  margin-top: -35px;
}
.emergency {
  position: relative;
  background: #d25f5b;
  padding: 25px 15px;
  text-align: center;
  font-weight: bold;
  min-width: 50px;
  margin-right: 15px;
  text-shadow: none;
  color: #fff;
}
.emergency:after,
.emergency:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.emergency:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #d25f5b;
  border-width: 35px 0 35px 15px;
  top: 50%;
  margin-top: -35px;
}
.pull-left.requisition-head-block {
  width: 90%;
  margin-left: 0.4%;
}
@media screen and (min-width: 1024px) {
  .pull-left.requisition-head-block {
    width: 90.5%;
  }
}
@media screen and (min-width: 1100px) {
  .pull-left.requisition-head-block {
    width: 88%;
  }
}
@media screen and (min-width: 1020px) {
  .pull-left.requisition-head-block {
    width: 87%;
  }
}
@media screen and (min-width: 960px) {
  .pull-left.requisition-head-block {
    width: 86%;
  }
}
@media screen and (min-width: 840px) {
  .pull-left.requisition-head-block {
    width: 84%;
  }
}
@media screen and (min-width: 648px) {
  .pull-left.requisition-head-block {
    width: 82%;
  }
}
@media screen and (max-width: 1050px) {
  .regular {
    padding: 29px 15px;
  }
  .regular:after {
    border-width: 39px 0 39px 15px;
    margin-top: -39px;
  }
  .emergency {
    padding: 29px 15px;
  }
  .emergency:after {
    border-width: 39px 0 39px 15px;
    margin-top: -39px;
  }
}
.rnr-table {
  overflow: auto;
  padding-top: 10px;
}
.rnr-table th.col-productCode,
.rnr-table td.col-productCode {
  min-width: 75px;
  width: 75px;
}
.rnr-table th.col-product,
.rnr-table td.col-product {
  min-width: 250px;
}
.rnr-table th.col-skipped,
.rnr-table td.col-skipped {
  min-width: 55px;
  width: 60px;
}
.rnr-table th.col-skipped span.skipped-checkbox {
  display: inline-block;
  margin-right: 5px;
}
.rnr-table td.col-skipped input[type="checkbox"][id^="skip_"] {
  margin-left: 40%;
}
#podForm .pagination {
  margin-bottom: 130px;
}
#podForm .action-buttons {
  z-index: 6;
}
#pod .col-fullSupply {
  min-width: 50px;
  width: 75px;
}
#pod .col-packsToShip,
#pod .col-quantityShipped {
  width: 150px;
}
#pod .col-productName {
  width: 482px;
  min-width: 250px;
}
#pod .col-quantityReceived .col-quantityReturned {
  width: 150px;
}
#pod .col-quantityReceived .col-quantityReturned input {
  width: 90%;
}
#pod .col-notes {
  width: 300px;
}
#pod .col-remarks {
  width: 90%;
}
#podFooter {
  position: absolute;
  bottom: 48px;
  left: 15px;
}
#podFooter strong {
  display: block;
}
#podFooter input {
  width: 80%;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 1em;
  margin-left: 0px;
}
.resultCountHeader th {
  padding: 0;
  font-size: 14px;
}
table.search-list {
  border: 1px solid #ddd;
  border-left: 0;
}
.clear-top {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.clear-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
.input-div {
  height: 20px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 14px;
  line-height: 20px;
  color: #555;
  cursor: default;
}
div.input-div[disabled] {
  background: #eee;
}
div.input-div[disabled] a[disabled] i {
  color: #333;
}
div.input-div[disabled] a[disabled] i:hover {
  cursor: not-allowed;
}
div.input-div[disabled]:hover {
  cursor: not-allowed;
}
.associate-facility.input-div {
  height: 28px;
  width: 88.5%;
  padding: 0;
}
.associate-facility.input-div:hover {
  cursor: pointer;
}
.associate-facility.input-div .facility-associated {
  padding: 4px 6px;
  float: left;
}
.associate-facility.input-div .facility-associated .placeholder {
  color: #999;
}
.associate-facility.input-div .btn {
  padding: 4px 11px;
  float: right;
  border: 0;
  border-left: 1px solid #bbb;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.associate-facility.input-div .icon-ellipsis-horizontal {
  color: #777;
}
.slider {
  display: none;
}
.separator {
  height: 100%;
  border-left: 1px solid #ccc;
  position: absolute;
  margin-left: 48%;
}
.searchAndFilter {
  width: 98%;
  margin: 0 11px 0 10px;
  background: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}
.searchAndFilter .search-list {
  margin-bottom: 0;
}
.searchAndFilter .search-list ul {
  height: 282px;
  overflow-y: auto;
}
.searchAndFilter .search-list ul li:last-child {
  border-bottom: 1px solid #CCC;
}
.searchAndFilter .main-heading {
  background: white;
}
.searchAndFilter #searchFacility {
  width: 150%;
}
.searchAndFilter #searchGeoZone {
  width: 57%;
}
.searchAndFilter #search,
.searchAndFilter #searchMultipleFacilities {
  width: 68%;
  padding: 4px 1.5% 22px;
}
.searchAndFilter .separator {
  margin-left: 71%;
}
.searchAndFilter #filter {
  width: 26%;
  padding: 4px 1.5% 22px;
}
.searchAndFilter #filter label {
  font-size: 0.9em;
}
.searchAndFilter #filter .selected-text {
  margin-left: 8px;
}
.searchAndFilter #filter .selected-text a {
  margin-left: 3px;
  text-decoration: underline;
}
.searchAndFilter #filter #setFiltersModal {
  width: 640px;
  margin: -280px 0 0 -320px;
  overflow-x: hidden;
}
.searchAndFilter #filter #setFiltersModal .section-divider {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}
.searchAndFilter .row-fluid {
  border-top: 0;
}
.searchAndFilter:after,
.slider-beak:after {
  height: 0px;
  width: 0px;
  position: absolute;
  border-bottom: 16px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  top: -15px;
  left: 267px;
  z-index: 10;
}
.searchAndFilter:before,
.slider-beak:before {
  height: 0px;
  width: 0px;
  position: absolute;
  border-bottom: 17px solid #bbb;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  content: "";
  top: -16px;
  left: 266px;
}
.select-result-container {
  vertical-align: super;
  padding: 3px 5px 3px 6px;
  line-height: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
}
.select-result-container .select-result-close .icon-remove {
  color: #858585;
}
.select-result-container .select-result-close:hover {
  text-decoration: none;
}
.select-result-container .select-result-close:hover .icon-remove {
  color: #444;
}
.bottom-padding {
  padding-bottom: 20px !important;
}
input[type="checkbox"].facilityCheckbox {
  margin-top: 0;
  vertical-align: middle;
  margin-right: 6px;
}
#addMembers {
  margin-bottom: 20px;
}
#multipleSearchAndFilter {
  margin: 0 0 20px;
  width: 100%;
}
#multipleSearchAndFilter:before {
  left: 21px;
}
#multipleSearchAndFilter:after {
  left: 22px;
}
#clearProductSearch {
  margin-left: 10px;
  border-radius: 3px !important;
}
#facilityApprovedProductsModal {
  margin-top: -250px;
  margin-left: -425px;
  max-width: 950px;
}
#facilityApprovedProductsModal .modal-body {
  max-height: 500px;
}
#facilityApprovedProductsModal .product-list {
  border-radius: 3px;
  max-height: 225px;
}
#facilityApprovedProductsModal .product-list .productCategory {
  padding: 0;
}
#facilityApprovedProductsModal .product-list .fluid-grid-cell {
  padding: 7px 10px;
}
#facilityApprovedProductsModal .product-list input[type="text"] {
  padding: 2px 6px;
}
.option-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.option-header .select2-result-label {
  cursor: default;
}
.program-schedules-btn {
  margin: 7px 10px 0 0px;
}
#programSchedulesTable {
  min-width: 1200px;
}
#programSchedulesTable .searchAndFilter:after,
#programSchedulesTable .searchAndFilter:before {
  display: none;
}
#programSchedulesTable .slider-beak:after {
  top: 34px;
  left: 21px;
}
#programSchedulesTable .slider-beak:before {
  top: 33px;
  left: 20px;
}
#programSchedulesTable .associate-facility.input-div {
  width: 100%;
}
#programSchedulesTable .associate-facility.input-div .facility-associated {
  max-width: 75%;
}
#programSchedulesTable .clear-search {
  right: 38px;
}
#programSchedulesTable select {
  margin-bottom: 0;
}
.add-program-schedule {
  background: #e0e0e0;
  border-radius: 0 0 3px 3px;
}
.add-program-schedule #addNewRow {
  margin: 0 0 10px;
}
.program-schedules-add-new-btn {
  margin: 12px 10px 0 0px;
}
.slider-row-fluid .slider {
  margin: 10px 0;
}
.table-container {
  overflow: auto;
}
.table-container table {
  max-width: 100%;
  word-wrap: break-word;
}
.col-icon-ok {
  max-width: 50px;
  min-width: 50px;
}
.col-name {
  min-width: 250px;
}
#facilityApprovedProductTable th,
#facilityApprovedProductTable td {
  line-height: 15px;
}
#facilityApprovedProductTable .col-full-supply {
  max-width: 50px;
  min-width: 50px;
}
#facilityApprovedProductTable .col-product-code {
  min-width: 100px;
  max-width: 125px;
}
#facilityApprovedProductTable .col-strength,
#facilityApprovedProductTable .col-unit-measure {
  min-width: 80px;
  max-width: 100px;
}
#facilityApprovedProductTable .col-action {
  min-width: 125px;
}
#facilityApprovedProductTable .col-max-months-stock,
#facilityApprovedProductTable .col-min-months-stock,
#facilityApprovedProductTable .col-eop {
  min-width: 60px;
  max-width: 125px;
}
#facilityApprovedProductTable .col-max-months-stock input[type="text"],
#facilityApprovedProductTable .col-min-months-stock input[type="text"],
#facilityApprovedProductTable .col-eop input[type="text"] {
  margin-bottom: 0;
  width: 85%;
}
#facilityApprovedProductTable td .rnr-form-error {
  bottom: 22px;
  line-height: 20px;
}
#facilityApprovedProductTable .toolbar-error {
  color: #CA0000;
}
#facilityApprovedProductTable input.btn-danger {
  margin-left: 3px;
}
#facilityApprovedProductsModal .rnr-form-error {
  bottom: 25px;
  right: -4%;
}
#facilityApprovedProductsModal .product-list .rnr-form-error {
  bottom: 18px;
}
#productForm .form-group .form-cell {
  width: 100%;
}
#productForm .form-group .form-cell .ui-select-width {
  width: 90%;
}
#productForm .rnr-form-error {
  right: 10px;
}
#productForm textarea {
  width: 98%;
  height: 50px;
}
#productForm #productOtherInfoGroup {
  margin-top: 0;
  margin-left: 8px;
  padding: 0 0 16px 0;
  border-top: 0;
}
#productForm #packsAndCartonGroup {
  margin: 10px 0 5px;
}
#productForm .short {
  width: 73%;
}
#productForm .short .rnr-form-error,
#productForm .half-width .rnr-form-error {
  right: -15px;
}
#productForm #productLastUpdated {
  width: 87%;
}
#productForm #programAssociationTable {
  min-width: 1100px;
}
#productForm #programAssociationTable input,
#productForm #programAssociationTable select.select2-container {
  margin-bottom: 0;
}
#productForm #programAssociationTable input[type="text"] {
  width: 95%;
}
#productForm #programAssociationTable .rnr-form-error {
  right: -25px;
  bottom: initial;
  top: -16px;
}
#reportParametersTable {
  width: 1020px;
}
#reportParametersTable .rnr-form-error {
  right: -2%;
}
.unSupportedDataType {
  color: #d31717;
}
.action-row td {
  background: #e0e0e0 !important;
}
/* Dashboard EasyChart
=================================================================== */
.easychart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.easychart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.easychart-percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.easychart-percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular-google-map-container {
  height: 400px;
}
.numeric-input {
  text-align: right;
  float: right;
  clear: both;
}
.highlight {
  background-color: #C9DDE1 !important;
}
.search-list {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px 0;
}
.search-list h3 {
  padding: 8px 10px;
  margin: 0;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  line-height: normal;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}
.search-list .close-btn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 10px;
  right: 11px;
  opacity: 0.8;
  background: url(../images/close-icon.png) no-repeat left top;
  text-indent: -999em;
}
.search-list .close-btn:hover {
  opacity: 1;
}
.search-list ul {
  margin: 0;
  list-style: none;
}
.search-list ul li {
  position: relative;
  border-top: 1px solid #CCC;
}
.search-list ul li:first-child {
  border-top: 0;
}
.search-list ul li > a {
  padding: 10px;
  display: block;
}
.search-list ul li > a:hover + .search-actions a,
.search-list ul li > a:focus + .search-actions a {
  display: inline-block;
}
.search-list ul li:hover > a {
  background-color: #f9f9f9;
}
.search-list ul li:hover .search-actions a {
  display: inline-block !important;
}
.search-list ul .search-actions {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 6px 0;
  display: inline-block;
}
.search-list ul .search-actions a {
  display: none;
  margin-right: 5px;
}
.vaccine-report {
  /*.flot-y-axis > .flot-tick-label{
    left:20px !important;

  }*/
}
.vaccine-report .table th,
.vaccine-report .table td {
  padding: 5px;
  line-height: 15px;
}
.vaccine-report .accordion .accordion-heading {
  font-size: 1em;
}
.vaccine-report .red {
  color: red;
}
.vaccine-report .green {
  color: #008000;
}
.vaccine-report .blue {
  color: #0000ff;
}
.vaccine-report .gradient-header th {
  min-width: 0px;
}
.vaccine-report-popover .table th,
.vaccine-report-popover .table td {
  padding: 4px;
  line-height: 6px;
}
.number,
td.number,
th.number {
  text-align: right;
}
.text-row,
tr.text-row {
  height: 35px;
}
