/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
body {
  background: #2a393a;
}
.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-left: -330px;
  margin-top: -220px;
  box-shadow: 0 0 15px #222;
  border: 1px solid white;
  border-radius: 6px;
}
.login-container {
  background: #FFF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 48%, #e1e1e1 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 48%, #e1e1e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 48%, #e1e1e1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 48%, #e1e1e1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
}
.login-container h1 {
  font-size: 1.3em;
  color: #747474;
  margin: 0;
  margin-right: 118px;
  line-height: 24px;
  padding: 14px;
  text-shadow: 0 1px 0 #FFF;
  font-weight: normal;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
}
.login-container h2 {
  font-size: 1.4em;
  color: #414141;
  margin: 0;
  padding: 15px 0;
  line-height: 30px;
}
.login-container .alert-error {
  font-size: 0.9em;
  line-height: 17px;
  border-color: #B94A48;
}
.login-container form {
  margin: 0;
}
.login-container input:focus:required:invalid:focus {
  border-color: #17888f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
}
.login-container input[type='text'],
.login-container input[type='password'] {
  width: 95%;
  margin-bottom: 20px;
  height: 32px;
}
.login-container input.btn {
  padding: 9px 42px;
  font-size: 1.15em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 12px;
}
.login-container input.btn.btn-primary {
  background-color: #356b6f;
  background-image: -moz-linear-gradient(top, #42a7ad, #356b6f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42a7ad), to(#356b6f));
  background-image: -webkit-linear-gradient(top, #42a7ad, #356b6f);
  background-image: -o-linear-gradient(top, #42a7ad, #356b6f);
  background-image: linear-gradient(to bottom, #42a7ad, #356b6f);
  background-repeat: repeat-x;
  border-color: #42a7ad #42a7ad #356b6f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42a7ad', endColorstr='#ff004484', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.login-container input.btn.btn-primary:hover,
.login-container input.btn.btn-primary:active,
.login-container input.btn.btn-primary.active,
.login-container input.btn.btn-primary.disabled,
.login-container input.btn.btn-primary[disabled] {
  color: #ffffff;
  background-color: #356b6f;
}
.login-container input.btn.btn-cancel {
  color: #FFFFFF;
  background-color: #666666;
  background-image: -moz-linear-gradient(top, #c5c5c5, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5c5c5), to(#777777));
  background-image: -webkit-linear-gradient(top, #c5c5c5, #777777);
  background-image: -o-linear-gradient(top, #c5c5c5, #777777);
  background-image: linear-gradient(to bottom, #c5c5c5, #777777);
  background-repeat: repeat-x;
  border-color: #777777 #777777 #444444;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc5c5c5', endColorstr='#ff777777', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.login-container input.btn.btn-cancel:hover,
.login-container input.btn.btn-cancel:active,
.login-container input.btn.btn-cancel.active,
.login-container input.btn.btn-cancel.disabled,
.login-container input.btn.btn-cancel[disabled] {
  color: #ffffff;
  background-color: #777777;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.login-container a {
  font-size: 1em;
  text-decoration: underline;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #17888f;
  outline: 0;
  outline: thin dotted  \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
}
.login-form {
  background: url(../images/login-bg.png) no-repeat 20px top;
  padding: 0 55px 0 330px;
  min-height: 310px;
}
.forgot-password-form {
  padding: 2px 20px 25px;
  min-height: 140px;
}
.forgot-password-form input[type='text'],
.forgot-password-form input[type='password'] {
  margin-bottom: 15px;
}
.forgot-password-form .login-form-row {
  width: 55%;
}
.forgot-password-form input.btn {
  margin: 8px 10px 0 0;
  padding: 9px 40px;
}
.forgot-link {
  padding: 15px 0 20px;
}
.form-desc {
  padding-bottom: 15px;
}
.or-row {
  padding: 0 0 12px 3px;
}
.modal-login {
  width: 692px;
  margin-left: -346px;
  z-index: 1051;
}
input[placeholder].placeholder {
  color: #a2a2a2;
}
.modal-login-header {
  border-bottom: 1px solid #CCC;
  border-radius: 3px 3px 0 0;
  background: #DDD;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c5c5c5', GradientType=0);
  /* IE6-9 */
}
.locale-container {
  position: relative;
}
.locale-container ul {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 10px 12px;
  float: right;
  list-style-type: none;
}
.locale-container ul li {
  display: inline;
  color: #727070;
  font-size: 11px;
}
.locale-container ul li a {
  color: #0088cc;
}
.locale-container ul li .selected {
  color: #888787;
}
.locale-container ul li:last-child span:last-child {
  display: none;
}
