.extra-large-input {
  width: 350px;
}
.vertical-centered-div {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}
.report-label {
  display: inline-block;
  width: 150px;
}
.report-data {
  display: inline-block;
  width: 50px;
}
.gridStyleReport .ngViewport {
  min-height: 50px;
}
table.table td.number {
  text-align: right;
}
th.header {
  z-index: 0;
}
.horizontalFilters {
  float: left;
  margin-left: 5px;
}
.form-cell .labels {
  font-size: smaller;
  padding: 10px 2px 0;
}
.label-required {
  padding-top: 15px;
  padding-left: 5px;
}
.gridStyleReport {
  border: 1px solid #d4d4d4;
  margin-bottom: 55px;
}
/**** ng-table overrides */
th.header {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid #E5EBE2;
  color: #1a1a1a;
  font-size: 12px;
  min-height: 66px;
  position: relative;
  z-index: 0;
  background: #EEE;
  white-space: nowrap;
}
.table td {
  padding: 6px;
  color: #1a1a1a;
  font-size: 12px;
}
/** select 2 overrides **/
.select2-chosen {
  font-size: 13px;
}
.select2-result-label {
  font-size: 12px;
}
.legend {
  font-size: 10px;
  font-weight: bold;
}
/** Side bar */
.row-fluid > .sidebar {
  position: relative;
  top: 0;
  left: auto;
  float: left;
  width: 230px;
  /* width of sidebar */
}
.row-fluid > .content-body {
  margin-left: 230px;
  /* width of sidebars + 10px of margin */
  margin-right: 0;
}
/*** Override the bootstrap .pagination style so that it doesn't force an extra space on the report screens */
.pagination {
  margin: 0px;
}
/* override the select2 style */
.select2-container-multi .select2-choices .select2-search-choice {
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 20px;
}
.sub-content {
  margin-top: 49px;
}
.sub-content-decorated {
  text-decoration: underline;
}
.success-modal-wide {
  width: 850px;
}
.indicator-list {
  padding-top: 4px;
}
.form-wider {
  padding: 5px !important;
}
.leaflet-middle {
  padding-left: 30px;
}
.container-legend-drifted {
  margin-top: 10px;
}
.leaflet-popup-content {
  width: auto !important;
}
.legendColorBox {
  width: 4px;
}
.legendLabel {
  padding-left: 5px;
}
.chart {
  width: 350px;
  height: 200px;
  text-align: left;
  margin-top: 10px;
}
#flotTip {
  z-index: 1040;
  display: none;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.7);
}
.scroll table {
  width: 100%;
}
.scroll thead,
.scroll tbody,
.scroll tr,
.scroll td,
.scroll th {
  display: block;
}
.scroll tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.scroll thead th {
  height: 20px;
  /*text-align: left;*/
}
.scroll tbody {
  height: 500px;
  overflow-y: auto;
}
.scroll thead {
  /* fallback */
}
.scroll thead th {
  /*width: 25%;*/
  float: left;
}
.scroll tbody td {
  /*width: 25%;*/
  float: left;
}
div.pagination div.btn-group {
  float: left;
}
.report-selection {
  float: left;
  margin-right: 3%;
}
.report-selection .btn {
  margin-top: 18%;
}
.circle-icon {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  float: left;
  margin: 5px;
}
.report-title {
  text-align: center;
}
.product-report-footer {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
