table td.disabled,
.rnr-table .table-bordered td.disabled {
  background-color: #F0F0F0;
}
.rnr-table .table-bordered td.col-lot,
.rnr-table .table-bordered td.col-available {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.rnr-table .table-bordered td.last-row {
  border-bottom: 1px solid #cfcfcf !important;
  padding-bottom: 0px !important;
}
.rnr-table .table-bordered tr td.col-product,
.rnr-table .table-bordered tr th.col-product {
  min-width: 160px !important;
}
.rnr-table .table-bordered tr th.col-quantity,
.rnr-table .table-bordered tr th.col-available,
.rnr-table .table-bordered tr th.col-affected {
  min-width: 100px !important;
}
/* .rnr-table .table-bordered tr td.skip{
    background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%) !important;
    }*/
span.adj-error {
  color: #ff0000 !important;
}
table tr td.max-error span {
  color: #FF0000 !important;
  font-weight: bold !important;
  font-size: 0.9em !important;
}
table tr.even td {
  background: #d7d7d7 !important;
}
table tr.odd td {
  background: #eeeeee !important;
}
.rnr-table .table-bordered tr td.adj-reason-error {
  border: solid #f00 1px !important;
  border-radius: 4px 4px 4px 4px !important;
}
input[type="text"].ng-invalid-divisible-by-presentation-validator,
input[type="text"].ng-invalid-maximum-validator {
  border: 1px solid #FF0000 !important;
  color: #FF0000 !important;
  font-weight: bold !important;
  font-size: 0.9em !important;
}
.info-box input[type="text"] {
  height: 20px !important;
}
