label {
  display: block;
  margin-bottom: 0px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.portlet.light {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: #ffffff;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1px 20px 15px;
  width: 28%;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
  font-size: 1.1em;
}
.font-dark {
  color: #2f353b!important;
}
.uppercase {
  text-transform: uppercase!important;
}
.bold {
  font-weight: 700!important;
}
.portlet-title > .portlet-title > .caption > .caption-helper {
  color: #9eacb4;
  font-size: 1em;
  font-weight: 400;
  line-height: 13px;
  margin: 0;
  padding: 0;
}
.portlet.light > .portlet-title {
  min-height: 48px;
  padding: 0;
}
.portlet.light > .portlet-title > .actions {
  display: inline-block;
  float: right !important;
  padding: 6px 0 14px;
}
.portlet.light > .portlet-title > .actions .btn-icon-only {
  height: 27px;
  width: 27px;
}
.portlet.light > .portlet-title > .actions .btn-default {
  color: #666666;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
  padding: 4px 6px 2px;
}
.btn-circle {
  border-radius: 25px!important;
}
.btn {
  border: none;
  float: right;
  outline: 0!important;
  padding: 1px 4px;
}
[class^="flaticon-"]::before,
[class*=" flaticon-"]::before,
[class^="flaticon-"]::after,
[class*=" flaticon-"]::after {
  font-family: Flaticon;
  font-size: 1.1em;
  font-style: normal;
  margin-left: 1px;
  margin-right: 10px;
}
.input-large {
  width: 120px;
}
.caption {
  font-size: 1em;
}
.header-section-title {
  float: left;
  font-size: 1em;
  font-weight: bold;
  height: 26px;
  margin-top: 20px;
  padding-right: 20px;
  vertical-align: bottom;
}
.accordion-inner {
  background-color: #eef1f5;
  border-top: 1px solid #eef1f5;
  padding: 0px 15px;
}
.accordion .accordion-body {
  background: #eef1f5;
  margin: 0 !important;
}
.accordion .gray-cascade .accordion-heading a {
  background: none repeat scroll 0% 0% #eef1f5 !important;
}
.accordion-heading a {
  background-color: #eef1f5 !important;
  bottom: 0;
  font-color: #aab5bc !important;
  text-decoration: none;
}
.accordion-title {
  background-color: #eef1f5 !important;
  bottom: 0;
  font-color: #aab5bc !important;
  text-decoration: none;
}
.app-form {
  -moz-box-shadow: inset 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 1px 1px 0 #ffffff;
  background: #F8F8F8;
  border: 1px solid #e6e6e6;
  box-shadow: inset 1px 1px 0 #ffffff;
  padding: 5px;
}
.form-cell .labels {
  font-size: .7em;
  padding: 2px 2px 0;
}
.c3-legend-item {
  font-size: .7em;
}
.c3 svg {
  font: 0.9em "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 250px;
}
.select2-container .select2-choice {
  height: 20px;
  line-height: 20px;
  width: 90px;
}
.select2-container .select2-choice .select2-arrow b {
  display: block;
  height: 100%;
  width: 100%;
}
.select2-container .select2-choice > .select2-chosen {
  font-size: .7em;
  margin-right: 20px;
}
.select2-search {
  min-height: 20px;
}
.select2-search input {
  font-size: 0.5em;
  min-height: 20px;
}
.select2-container-multi .select2-choices {
  min-height: 20px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  font-size: 62.5%;
}
.box {
  background-color: #ffffff;
  border: 1px solid #ff5454;
  float: left;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 0px;
  width: 24%;
}
.box h2 {
  background: #ff5454;
  color: white;
  font-size: 1em;
  height: 35%;
  line-height: 20px;
  padding-left: 5px;
}
.box p {
  padding-top: 15px;
}
.box-value {
  font-size: 1.5em;
}
.box-col2 {
  border: 1px solid #aa66cc;
  float: left;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 0px;
  width: 24%;
}
.box-col2 h2 {
  background: #aa66cc;
  color: white;
  font-size: 1em;
  height: 35%;
  line-height: 20px;
  padding-left: 5px;
}
.box-col2 p {
  padding-top: 15px;
}
.box-col3 {
  border: 1px solid #45b600;
  float: left;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 0px;
  width: 24%;
}
.box-col3 h2 {
  background: #45b600;
  color: white;
  font-size: 1em;
  height: 35%;
  line-height: 20px;
  padding-left: 5px;
}
.box-col3 p {
  padding-top: 15px;
}
.box-col4 {
  border: 1px solid #2f96b4;
  float: left;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-top: 0px;
  width: 24%;
}
.box-col4 h2 {
  background: #2f96b4;
  color: white;
  font-size: 1em;
  height: 35%;
  line-height: 20px;
  padding-left: 5px;
}
.box-col4 p {
  padding-top: 15px;
}
.box-col5 {
  border: 1px solid #880000;
}
.box-col5 h2 {
  background: #880000;
}
.box-col6 {
  border: 1px solid #bb6622;
}
.box-col6 h2 {
  background: #bb6622;
  color: white;
  font-size: 1em;
  height: 35%;
  line-height: 20px;
  padding-left: 5px;
}
.box,
.box-col2,
.box-col3,
.box-col4 {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
.modal-header {
  background-color: #006dcc;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 24%, #006dcc 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 24%, #006dcc 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 24%, #006dcc 100%);
  background: #006dcc;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 24%, #006dcc 100%);
  border-bottom: 1px solid #006dcc;
  border-radius: 3px 3px 0 0;
  border: 1px solid #006dcc;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color0', endColorstr='#c5c5c5', GradientType=0);
  font-size: 1.1em;
  height: 40px;
}
.modal-header h2 {
  font-size: 1.3em;
}
.close {
  display: inline-block;
  height: 9px;
  margin-right: 0px;
  margin-top: 0px;
  width: 9px;
}
.modal-table-div {
  max-width: 40px;
}
.modal-ok-btn {
  width: 60px;
}
.tick {
  font-size: 62.5%;
}
