<style>
    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }

</style>

<div ng-hide="geoLevels" openlmis-message="msg.loading"></div>
<div class="clearfix"></div>

<div>
    <h2>
        <span id="rolesHeader">Geographic Levels</span>
        <a id="role-add-new" ng-href="#/create-geo-level" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>


    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="geoLevelId">
        <span ng-bind="message"></span>.&nbsp;&nbsp;
        <a id="viewHere" href="" ng-click="edit(geoLevelId)" openlmis-message="search.viewHere"></a>
    </div>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="deleteGeoLevelItem">
        <span ng-bind="message"></span>
    </div>
    <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>

    <div ng-hide="geoLevels"> No Geographic Level added Yet</div>

    <table class="table table-striped table-bordered" ng-show="geoLevels">
        <thead>
        <tr class="gradient-header">
            <th id="codeHeader" openlmis-message="header.code"></th>
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="levelNumberHeader">Level Number</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="geoLevel in geoLevels">
            <td id="code{{$index}}">{{geoLevel.code}}</td>
            <td><a id="name{{$index}}" ng-href="#/edit/{{geoLevel.id}}">{{geoLevel.name}}</a></td>
            <td id="levelNumber{{$index}}" ng-bind="geoLevel.levelNumber"></td>
            <td>
                <span> <button type="button" class="btn btn-danger" ng-click="deleteGeoLevel(geoLevel.id)">Delete
                </button></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
