<script type="text/ng-template" id="filter-map-template">
    <div id="container"></div>
</script>

<script type="text/ng-template" id="filter-year-template">
    <div id="year">
        <span ng-repeat="y in years" ng-class="{'year-selected':(y === year)}"><a href=""
                                                                                  ng-click="setYear(y)">{{y}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>
<script type="text/ng-template" id="filter-month-template">
    <div id="month">
        <span ng-repeat="m in months" ng-class="{'month-selected':(m.id === month)}"><a href=""
                                                                                        ng-click="setMonth(m.id)">{{m.name}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>

<script type="text/ng-template" id="filter-period-template">
    <div id="perion">
        <span ng-repeat="p in periods" ng-class="{'period-selected':(p.id === period)}"><a href=""
                                                                                           ng-click="setPeriod(p.id)">{{p.name}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>
<script type="text/ng-template" id="filter-location-template">
    <div id="location">
        <span ng-repeat="l in locations" ng-class="{'location-selected':(l.id === location)}"><a href=""
                                                                                                 ng-click="setLocation(l.id)">{{l.name}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>
