<style>

  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
  .uneditable-input {
    display: inline-block;
    height: 30px !important;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }


</style>


<div xmlns="http://www.w3.org/1999/html" tab-scroll>
  <div ng-hide="geoZone.id"><h2 id="addNewGeoZoneHeader" openlmis-message="header.geo.zone.add.new"></h2></div>
  <div ng-show="geoZone.id"><h2 id="editGeoZoneHeader" openlmis-message="header.geo.zone.edit"></h2></div>

  <form ng-submit="saveGeoZone()" name="geoZoneForm" novalidate>
    <div class="app-form">

      <div id="geoZoneFormGroup" class="form-group clear-top">

        <div class="form-row clearfix">
          <div class="form-cell">
            <label id="codeLabel" for="code">
              <span openlmis-message="header.code"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <input ng-model="geoZone.code" name="code" id="code" type="text" maxlength="50" ng-required="true"/>
              <span class="field-error" ng-show="geoZoneForm.code.$error.required && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>

          <div class="form-cell">
            <label id="levelLabel">
              <span openlmis-message="header.level"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <select id="levelCode" name="levelCode" ng-model="geoZone.level.code"
                      ng-options="level.code as level.name for level in levels"
                      ng-change="loadParents(geoZone.level.code)"
                      ng-disabled="editMode">
                <option value="" openlmis-message="label.select.geographic.level"></option>
              </select>
              <span class="field-error" ng-show="!geoZone.level.code && showError"
                    openlmis-message="select.value"></span>
            </div>
          </div>
        </div>

        <div class="form-row clearfix">
          <div class="form-cell">
            <label id="nameLabel" for="name">
              <span openlmis-message="header.name"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <input ng-model="geoZone.name" name="name" id="name" type="text" maxlength="50" ng-required="true"/>
              <span class="field-error" ng-show="geoZoneForm.name.$error.required && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>

          <div class="form-cell">
            <label id="parentLabel" openlmis-message="header.parent"></label>

            <div class="form-field row-fluid">
              <select ui-select2="{width: '90%'}" class="span11" id="selectParentGeoZone" ng-model="geoZone.parent.code"
                      openlmis-message="label.select.parent.zone">
                <option value=""></option>
                <optgroup ng-repeat="geoZoneLevel in parentLevels" label="{{ geoZoneLevel }}">
                  <option ng-repeat="parentGeoZone in parentGeoZones" ng-if="parentGeoZone.level.name === geoZoneLevel"
                          value="{{ parentGeoZone.code }}">
                    {{ parentGeoZone.name }}
                  </option>
                </optgroup>
              </select>
              <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>
        </div>

      <!--  <div class="form-row clearfix">
          <div class="form-cell">
            <label id="populationLabel" for="catchment-population"
                   openlmis-message="label.catchment.population"></label>

            <div class="form-field">
              <input ng-model="geoZone.catchmentPopulation" id="catchment-population" ng-pattern="/^\d{1,9}$/"
                     name="catchmentPopulation" type="text" maxlength="9"/>
              <span class="field-error" ng-show="geoZoneForm.catchmentPopulation.$error.pattern"
                    openlmis-message="integer.value">
              </span>
            </div>
          </div>

        </div>-->

        <div class="form-row clearfix">
          <div class="form-cell">
            <label id="latitudeLabel" for="latitude" openlmis-message="label.latitude"></label>

            <div class="form-field">
              <input ng-model="geoZone.latitude" ng-pattern="/^[+-]?0*\d{0,3}(\.\d{1,5}0*)?$/" id="latitude" type="text"
                     name="latitude" maxlength="10"/>
              <span class="field-error" ng-show="geoZoneForm.latitude.$error.pattern"
                    openlmis-message="label.latitude.value"></span>
            </div>
          </div>

        </div>

        <div class="form-row clearfix">
          <div class="form-cell">
            <label id="longitudeLabel" for="longitude" openlmis-message="label.longitude"></label>

            <div class="form-field">
              <input ng-model="geoZone.longitude" ng-pattern="/^[+-]?0*\d{0,3}(\.\d{1,5}0*)?$/" name="longitude"
                     id="longitude" type="text" maxlength="10"/>
              <span class="field-error" ng-show="geoZoneForm.longitude.$error.pattern"
                    openlmis-message="label.longitude.value"></span>
            </div>
          </div>
        </div>

        <!-- /form-group -->

      </div>
      <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
        <div style="float:left">
          <input id="saveButton" type="submit" class="btn btn-primary save-button"
                 openlmis-message="button.save" ng-click="save()"/>
          <input id="cancelButton" type="button" class="btn btn-cancel" openlmis-message="button.cancel"
                 ng-click="cancel()"/>
        </div>

        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
      </div>

    </div>
  </form>
</div>


