<style>
  .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
  }

</style>

<div xmlns="http://www.w3.org/1999/html">
  <h2>
    <span id="searchGeoZoneHeader" openlmis-message="search.geo.zone.header"></span>
    <a id="add-new-geo-zone" href="#/create-geo-zone" class="pull-right btn btn-primary"
       openlmis-message="button.add.new"></a>
  </h2>
  <a id="add-new-geo-json-for-zone" href="#/json" class="pull-right"
          >Upload Geo JSON</a>
  <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="geoZoneId">
    <span ng-bind="message"></span>.&nbsp;&nbsp;
    <a id="viewHere" href="" ng-click="edit(geoZoneId)" openlmis-message="search.viewHere"></a>
  </div>

  <div id="searchControl" class="row-fluid">
    <div class="span5 search-in-category">
      <div class="input-append input-prepend">
        <div class="btn-group">
          <button id='searchOptionButton' class="btn dropdown-toggle">
            <span id="selectedSearchOption" openlmis-message="selectedSearchOption.name"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="searchOption in searchOptions">
              <a id="searchOption{{$index}}" href="" openlmis-message="searchOption.name"
                 ng-click="selectSearchType(searchOption)"></a>
            </li>
          </ul>
        </div>
        <input id='searchGeoZone' type="text" class="span5" ng-model="query" maxlength="50"
               ng-keydown="triggerSearch($event)" autocomplete="off"/>
        <button class="btn" ng-click="search(1)">
          <i id='searchIcon' class="icon-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table name="searchResultTable" class="table table-striped table-bordered search-list" ng-show="showResults">
      <thead>
      <tr class="gradient-header resultCountHeader">
        <th colspan="5">
            <span ng-switch on="totalItems">
            <h3 id="noResultMessage" ng-switch-when="0" openlmis-message="msg.no.matches|searchedQuery"></h3>
            <h3 id="oneResultMessage" ng-switch-when="1" openlmis-message="msg.one.match|searchedQuery"></h3>
            <h3 id="nResultsMessage" ng-switch-default
                openlmis-message="msg.many.matches|totalItems|searchedQuery"></h3>
              </span>
          <a id="closeButton" class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>
        </th>
      </tr>
      <tr class="gradient-header" ng-show="geoZoneList.length">
        <th id="nameHeader" openlmis-message="header.name"></th>
        <th id="codeHeader" openlmis-message="header.code"></th>
        <th id="levelHeader" openlmis-message="header.level"></th>
        <th id="parentHeader" openlmis-message="header.parent"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="geoZone in geoZoneList">
        <td>
          <a id="geoZoneName{{$index}}" href="" ng-click="edit(geoZone.id)" ng-bind="geoZone.name"></a>
        </td>
        <td id="code{{$index}}" ng-bind="geoZone.code"></td>
        <td id="levelName{{$index}}" ng-bind="geoZone.level.name"></td>
        <td id="parentName{{$index}}" ng-bind="geoZone.parent.name"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="pagination.limit"
              direction-links="false" ng-show="geoZoneList.length" class="pagination-sm"></pagination>
</div>