<div>
    <div ng-hide="accountPackages">
        <h2 id="addNewRoleHeader">Add New Account Package</h2>
    </div>
    <div ng-show="accountPackages">
        <h2 id="editRoleHeader">Edit Account Package</h2>
    </div>

    <form id="create-role" name="accountPackageForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left">

                        <br>
                        <fieldset class="form-group">
                            <label for="name" openlmis-message="header.name">
                                <span class="label-required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="name" name="name"
                                   ng-model="accountPackages.name" ng-required="true"
                                   placeholder=""/>
                              <span class="field-error" ng-show="!accountPackages.name && showError"
                                    openlmis-message="missing.value"></span>
                        </fieldset>
                        <br/>

                        <fieldset class="form-group">
                            <label for="description"> Description </label>
                            <input type="text" class="form-control" id="description" name="description"
                                   ng-model="accountPackages.description"
                                   placeholder=""/>
                        </fieldset>
                        <br/>
                        <fieldset class="form-group">
                            <label for="period">Period -(Number Of Days)
                                <span class="label-required"> *</span>

                            </label>
                            <input type="text" class="form-control" id="period" name="period"
                                   ng-model="accountPackages.period" ng-required="true"
                                   placeholder=""/>
                               <span class="field-error" ng-show="!accountPackages.period && showError"
                                     openlmis-message="missing.value"></span>
                        </fieldset>
                        <br/>

                        <fieldset class="form-group">
                            <label for="price">Price
                                <span class="label-required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="price" name="price"
                                   ng-model="accountPackages.price"
                                   placeholder="" ng-required="true"/>
                               <span class="field-error" ng-show="!accountPackages.price && showError"
                                     openlmis-message="missing.value"></span>
                        </fieldset>
                        <br/>
                        <!-- <fieldset class="form-group">
                             <label for="status">Status</label>
                             <input type="text" class="form-control" id="status" name="status"
                                    ng-model="accountPackages.status"
                                    placeholder=""/>
                         </fieldset>
                         <br/>-->

                        <fieldset class="form-group">
                            <label for="displayOrder">Display Order</label>
                            <input type="text" class="form-control" id="displayOrder" name="displayOrder"
                                   ng-model="accountPackages.displayOrder"
                                   placeholder=""/>
                        </fieldset>


                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="saveAccountPackage()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

