<div ng-hide="clientTypes" openlmis-message="msg.loading"></div>
<div class="clearfix"></div>

<div>
    <h2>
        <span id="rolesHeader">Client Types</span>
        <a id="role-add-new" ng-href="#/create" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>

    <!--<div ng-hide="userTypeId" class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>-->

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="message">
        <span ng-bind="message"></span>.
    </div>

    <table class="table table-striped table-bordered" ng-show="clientTypes">
        <thead>
        <tr class="gradient-header">
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="descriptionHeader" openlmis-message="label.description"></th>
            <th id="maximumMembersHeader">Maximum Members</th>
            <th id="extraFieldNameHeader">Extra Field Name</th>
            <th id="typeHeader">Display Order</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clientTypes">
            <td><a id="name{{$index}}" ng-href="#/edit/{{client.id}}">{{client.userType}}</a></td>
            <td id="description{{$index}}" ng-bind="client.description"></td>
            <td id="maximumMembers{{$index}}" ng-bind="client.maximumMembers"></td>
            <td id="extraFieldName{{$index}}" ng-bind="client.extraFieldName"></td>
            <td id="displayOrder{{$index}}" ng-bind="client.displayOrder"></td>
            <td align="center">
                <button class="btn  btn-danger" ng-click="delete(client.id);">Delete</button>
            </td>


        </tr>
        </tbody>
    </table>
</div>
