<div id="popup-box" ng-form="addNewMember" modal="balanceModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:50% !important;margin-left:-25% !important;">

    <div class="modal-header">
        <h3>Add <span>Balance</span></h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid addForm" ng-form="addBalance">
            <div class="span12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <!--<div class="x_title">-->
                    <!--</div>-->
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <div class="row-fluid">
                            <div class="span12">
                                Balance(TSHs):&nbsp;<input type="text" ng-model="account.wallet.balance"/>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="doneBalance()"
               openlmis-message="button.done"/>

        <input type="button" ng-click="cancelBalanceModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
