<style>

    .modal {
    display: block;
    }

    .hide {
    display: none;
    }

    .date {
    display: inline-block !important;
    margin-top: 4px;
    margin-bottom: 1px;
    padding-left: 1px;
    }
    .toolbar-success {
    color: #86D186;
    }
    div h2 {
    border-bottom: 0px solid #d6d6d6;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;

    /*font-size: 18px;
    font-weight: 400; */
    }


    /*.label-required{
    color: red;
    }

    span.field-error {
    display: block;
    padding-top: 4px;
    font-size: 0.9em;
    color: #E93434;
    }*/


</style>

<div>

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Add Client</h2>
            </div>
        </div>
        <div class="clearfix"></div>

        <div novalidate select2-blur>
            <div class="row-fluid">
                <div class="span12 col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Account Information</h2>
                            <input style="float:right" id="addCredit" type="submit"
                                   value="Balance({{account.wallet.balance}} TSHs)"
                                   class="btn btn-primary save-button"
                                   ng-disabled="account.accountType === undefined"
                                   ng-click="showBalanceModal()"/>
                            <input style="float:right" id="addMember" type="submit" value="Add Member"
                                   class="btn btn-primary save-button"
                                   ng-disabled="account.accountType === undefined"

                                   ng-click="showAddModal()"/>


                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row-fluid" ng-form="accountForm">
                                <div class="span3 col-md-2 col-sm-12 col-xs-12">
                                    <fieldset class="form-group">
                                        <label for="clientType">Account Type
                                            <span class="label-required"> *</span>
                                        </label>
                                        <select id="clientType" ui-select2 class="input-small"
                                                style="width: 100% !important;" ng-model="account.accountType"
                                                ng-required="true"
                                                ng-options="type as type.name for type in accountTypes">
                                            <option value="">-Select Account Type-</option>

                                        </select>
                                        <span class="field-error" ng-show="!client.userTypeId && showError">Select account type</span>
                                    </fieldset>
                                </div>
                                <div class="span4 col-md-2 col-sm-12 col-xs-12"
                                     ng-show="account.accountType !== undefined && account.accountType.organization">
                                    <fieldset class="form-group">
                                        <label for="organisation">Organisation
                                            <span class="label-required"> *</span>
                                        </label>

                                        <select id="organisation" ng-required="account.accountTypeId ==1" ui-select2
                                                style="width:70% !important;"
                                                ng-model="account.organizationId">
                                            <option ng-repeat="o in organizations"
                                                    ng-selected="account.organizationId == o.id"
                                                    value="{{ o.id }}">
                                                {{o.name}}
                                            </option>
                                        </select>
                                        <input style="margin-left:2px;width:20% !important;" type="submit"
                                               class="btn btn-primary" value="New" ng-click="showOrganizationModal()"/>

                                        <div class="fadeout" ng-show="organizationCreated == true">Organization
                                            Created
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="span3 col-md-2 col-sm-12 col-xs-12"
                                     ng-show="account.accountType !== undefined">
                                    <fieldset class="form-group">
                                        <label for="organisation">Account Package
                                            <span class="label-required"> *</span>
                                        </label>

                                        <select id="package" ui-select2
                                                style="width:100% !important;"
                                                ng-model="account.accountPackageId">
                                            <option ng-repeat="p in accountPackages"
                                                    value="{{ p.id }}">
                                                {{p.name}}
                                            </option>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row" ng-show="account.members.length >0">
                                <div class="rnr-table">
                                    <table id="podTable3" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="max-width:60px !important; width:60px !important"
                                                class="col-product"><span>Default</span></th>
                                            <th style="max-width:150px !important; width:150px !important"
                                                class="col-product"><span>First Name</span></th>
                                            <th style="max-width:150px !important; width:150px !important"
                                                class="col-product"><span>Last Name</span></th>
                                            <th style="max-width:80px !important; width:80px !important"
                                                class="col-product"><span>Gender</span></th>
                                            <th style="max-width:100px !important; width:100px !important"
                                                class="col-product"><span>Date of Birth</span></th>
                                            <th style="max-width:120px !important; width:120px !important"
                                                class="col-product"><span>Cell Phone</span></th>
                                            <th style="max-width:120px !important; width:120px !important"
                                                class="col-product"><span>District</span></th>
                                            <!--<th style="max-width:120px !important; width:120px !important"-->
                                            <!--class="col-product"><span>Street</span></th>-->
                                            <th style="max-width:120px !important; width:120px !important"
                                                class="col-product"><span>Occupation</span></th>

                                            <th style="max-width:80px !important; width:80px !important"
                                                class="col-product"><span>Action</span></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="member in account.members">
                                            <td>
                                                <input ng-value="true" type="radio"
                                                       name="member{{$index}}_default"
                                                       ng-change="defaultMember(member)"
                                                       ng-model="member.default">
                                            </td>
                                            <td ng-bind="member.user.firstName"></td>
                                            <td ng-bind="member.user.lastName"></td>
                                            <td ng-bind="member.user.gender"></td>
                                            <td>
                                                {{member.user.dateOfBirth | date:'MM/dd/yyyy'}}
                                            </td>
                                            <td ng-bind="member.user.cellPhone"></td>
                                            <td ng-bind="getDistrictToDisplay(member.user.geographicZoneId)"></td>
                                            <!--<td ng-bind="member.user.ward"></td>-->
                                            <td ng-bind="member.user.occupation"></td>

                                            <td>
                                                <input id="deleteMember" type="submit" value="Add"
                                                       class="btn btn-danger small save-button"
                                                       openlmis-message="delete"
                                                       ng-click="removeMember(member)"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>

            <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
                <div style="float:left">
                    <input id="userSaveButton" type="submit" value="Save" class="btn btn-primary save-button"
                           openlmis-message="button.create"
                           ng-disabled="accountForm.$invalid || account.members.length ===0"
                           ng-click="createAccount()"/>

                    <input id="userCancelButton" type="button" class="btn btn-cancel save-button"
                           openlmis-message="button.cancel"
                           ng-click="cancel()"/>
                    <!--<input id="userDisableButton" type="button" class="pull-right btn btn-danger delete-button"-->
                    <!--ng-click="showConfirmUserDisableModal()" openlmis-message="button.disable"/>-->
                    <!--<input id="userEnableButton" type="button" class="btn btn-primary enable-button"-->
                    <!--ng-show="(!user.active && user.id!=null)"-->
                    <!--openlmis-message="button.enable"-->
                    <!--ng-click="showConfirmUserRestoreModal()"/>-->


                </div>
                <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
                <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message"><span
                        style="text-align: right"></span></div>
            </div>

        </div>
    </div>
</div>

<div non-scope-ng-include template-path="/public/pages/client/partials/add-member-modal.html"></div>
<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>
<div non-scope-ng-include template-path="/public/pages/client/partials/new-organization-modal.html"></div>





