<div xmlns="http://www.w3.org/1999/html" tab-scroll>

    <div ng-hide="extension.id"><h2>Add Extension Number</h2></div>
    <div ng-show="extension.id"><h2>Edit Extension Number</h2></div>


    <table>
        <tr>
            <td>
                <form ng-submit="saveExtension()" id="create-extension" name="extensionNumberForm" novalidate
                      select2-blur>
                    <div class="app-form">
                        <div>
                            <div class="form-row clearfix">

                                <div class="form-cell">
                                    <div>

                                        <label for="extensionNumber">Extension Number <span
                                                class="label-required"> *</span></label>

                                        <div class="form-field">

                                            <input ng-model="extension.extensionNumber" name="extensionNumber"
                                                   id="extensionNumber" type="text" maxlength="30" width="320px"
                                                   ng-required="true"/>
                                              <span class="field-error"
                                                    ng-show="!extension.extensionNumber && showError"
                                                    openlmis-message="missing.value">
                                              </span>
                                        </div>

                                    </div>


                                    <div>

                                        <label for="description">Description:

                                            <div class="form-field">
                                                <input ng-model="extension.description" name="description"
                                                       id="description"
                                                       type="text" maxlength="30" width="320px"
                                                        />


                                            </div>


                                            <div>

                                                <div>
                                                    <label for="displayOrder">Display Order: </label>

                                                    <div class="form-field">
                                                        <input ng-model="extension.displayOrder" name="displayOrder"
                                                               id="displayOrder" type="text" maxlength="30"
                                                               width="320px"
                                                                />

                                                    </div>
                                                </div>


                                                <div form-toolbar id="action_buttons" class="sidebar-footer"
                                                     style="width:90%;height:50px;padding:7px 9px 3px 10px">
                                                    <div style="float:left">
                                                        <input type="submit" class="btn btn-primary save-button"
                                                               openlmis-message="button.save"/>
                                                        <input type="button" ng-click="cancel(); "
                                                               class="btn btn-primary save-button"
                                                               openlmis-message="button.cancel"/>


                                                    </div>

                                                    <div class="toolbar-error" id="saveErrorMsgDiv"
                                                         openlmis-message="error"
                                                         ng-show="error"></div>

                                                </div>
                                            </div>
                                    </div>
                                </div>

                            </div>
                </form>
            </td>

        </tr>
    </table>

</div>


