<style>

    .modal {
    display: block !important;
    }

    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }
    .form-group .form-row input[type="text"] {
    height: 35px !important;
    }

    .form-group .form-control input[type="text"] {
    height: 35px !important;
    }

</style>

<div xmlns="http://www.w3.org/1999/html">
    <h2><span> Extension Number List</span>
        <a href="#/create-extension" class="pull-right btn btn-primary"><span id="sms-add-new">Add New Extension</span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="extension">
        <span ng-bind="message"></span>.

    </div>

    <div>

        <br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th>extension #</th>
                <th>Description</th>
                <th>DisplayOrder</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ext in extensions">
                <td>
                    <div>
                        <a id="geoZoneName{{$index}}" href="" ng-click="edit(ext.id)" ng-bind="ext.extensionNumber"></a>

                    </div>
                </td>
                <td>
                    <div>{{ext.description}}</div>
                </td>
                <td>
                    <div>{{ext.displayOrder}}</div>
                </td>

                <td align="center">
                    <button class="btn  btn-danger" ng-click="deleteExtensionNumber(ext.id);">Delete</button>
                </td>


            </tr>
            </tbody>
        </table>

    </div>
</div>