<div id="popup-box" ng-form="addNewMember" modal="consultationModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3>Client <span>Consultation</span></h3>
    </div>

    <div class="modal-body">
        <div class="content-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Client Information</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Name:</strong>
                                    <span ng-bind="consultationRecords.client.firstName"></span> &nbsp;
                                    <span ng-bind="consultationRecords.client.lastName"></span>
                                </div>
                                <div class="span1">
                                    <strong>Age:</strong>
                                    <span ng-bind="consultationRecords.client.age"></span>
                                </div>
                                <div class="span2">
                                    <strong>Gender:</strong>
                                    <span ng-bind="consultationRecords.client.gender"></span>
                                </div>
                                <div class="span2">
                                    <strong>Account Type:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                                <div class="span2">
                                    <strong>Account Type:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                                <div class="span2">
                                    <strong>Group Name:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Cell Phone:</strong>
                                    <span ng-bind="consultationRecords.client.cellPhone"></span> &nbsp;
                                </div>
                                <div class="span1">
                                    <strong>Address:</strong>
                                    <span ng-bind="consultationRecords.client.address"></span>
                                </div>
                                <div class="span2">
                                    <strong>Region:</strong>
                                    <span ng-bind="consultationRecords.client.geographicZone.region"></span>
                                </div>
                                <div class="span2">
                                    <strong>District:</strong>
                                    <span ng-bind="consultationRecords.client.geographicZone.district"></span>
                                </div>
                                <div class="span2">
                                    <strong>Ward:</strong>
                                    <span ng-bind="consultationRecords.geoZone.ward"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion">
                <div class="pull-right control-accordion">
                    <a id="expandAll" href="javascript:void(0);" onClick="accordion.expandCollapse('expand')"
                       openlmis-message="label.expand.all"></a> /
                    <a id="collapseAll" href="javascript:void(0);" onClick="accordion.expandCollapse('collapse')"
                       openlmis-message="label.collapse.all"></a>
                </div>
                <div class="clearfix"></div>

                <!--START CONSULTATION FORM-->
                <div class="accordion-section">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="homeFacilityRoles"
                            href="javascript:void(0);">CONSULTATION FORM</a></span>
                </div>
                    <div class="accordion-body prog-role-grid">
                        <div class="rnr-table">
                            <table class="table table-condensed table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th ng-repeat="group in recordType.fieldGroups">{{group.name}}</th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-repeat="group in recordType.fieldGroups">
                                        <table width="100%" class="table table-bordered"
                                               ng-repeat="field in group.fields">
                                            <thead>
                                            <tr>
                                                <th>{{field.fieldName}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" ng-if="field.fieldType =='TEXT'"/>
                                                 <textarea style="width:100%" ng-if="field.fieldType =='RICHTEXT'">
                                                     </textarea>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--//New Form to add records type-->
                            <!--//Past records of type-->
                        </div>
                </div>
            </div>
                <!--<div class="accordion-section">-->
                <!--<div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">-->
                <!--<span><strong>+</strong><a-->
                <!--id="supervisoryRoles"-->
                <!--href="javascript:void(0);">Medical History</a></span>-->
                <!--</div>-->
                <!--<div class="accordion-body prog-role-grid">-->
                <!--Display Empty Medical history form or existing and add option to add-->
                <!--</div>-->
                <!--</div>-->
        </div>

        </div>
    </div>

    <div class="modal-footer">
        <select ng-model="doctorToForward">
            <option value="">Select Doctor</option>
            <option ng-repeat="doctor in onlineDoctors" value="{{doctor.id}}">{{doctor.firstName}}
                {{doctor.lastName}}-{{doctor.specialization}}
            </option>
        </select>
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="connectToDoctor()"
               ng-disable="doctorToForward === undefined"
               value="Connect to doctor"/>

        <input type="button" ng-click="cancelConsultation();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
