<style>
    @heading-green: #17888F;
    .input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    }

    a:hover {
    color: #055e74;
    }
    td a{
    color:#055e74 !important; ;
    }
    a:hover {
    color: #055e74;
    }
    a:hover {
    color: #005580;
    text-decoration: underline;
    }
    a:hover, a:active {
    outline: 0;
    }

    .alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    }

    h2 {
    font-size: 3em;
    font-weight: normal;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
    }
    tr.unsaved td{
    background:#FCF8E3 !important;
    }

    /*font-size: 18px;
    font-weight: 400; */
    }

</style>
<div xmlns="http://www.w3.org/1999/html"
     ng-show="hasPermission('FINALIZE_CONSULTATION') || hasPermission('CONNECT_CLIENT_TO_DOCTOR')">
    <div class="clearfix"></div>
    <h2>
        <span>Consultation</span>
        <!--<button ng-show="hasPermission('CONNECT_CLIENT_TO_DOCTOR')" ng-click="showConsultationModal()">Show Modal-->
        <!--</button>-->
    </h2>

    <div class="row-fluid">
        <div class="span12" ng-show="hasPermission('FINALIZE_CONSULTATION')">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consultation Queue</h2>&nbsp;
                    <input style="margin-top:4px" value="Refresh" type="submit" class="btn btn-primary"
                           ng-show="hasPermission('FINALIZE_CONSULTATION')" ng-click="refreshQueue()"/>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table">
                        <div ng-show="Queue.length === 0">Waiting for client</div>
                        <table class="table table-bordered" ng-show="Queue.length >0">
                            <thead>
                            <th>Name</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="queue in Queue">
                                <td>{{queue.client.firstName}} {{queue.client.lastName}}</td>
                                <td><input class="btn btn-primary save-button" value="Accept Consultation" type="submit"
                                           ng-click="showDoctorConsultationModal(queue.id)"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div ng-show="hasPermission('CONNECT_CLIENT_TO_DOCTOR')" class="span12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consultation Plans</h2>&nbsp;
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table">
                        <div ng-show="Plans.length === 0">No plan Found</div>

                    </div>
                </div>

            </div>
        </div>
        <div ng-show="hasPermission('CONNECT_CLIENT_TO_DOCTOR')" class="span12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Appointments</h2>&nbsp;
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table">
                        <div ng-show="Appointments.length === 0">No appointments Found</div>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

</div>


<!--<div non-scope-ng-include template-path="/public/pages/consultation/partials/client-consultation-modal.html"></div>-->

<!--<div non-scope-ng-include template-path="/public/pages/consultation/partials/doctor-client-consultation-modal.html"></div>-->

<div id="popup-box consultation-modal" ng-form="addNewMember" modal="consultationModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3>Client <span>Consultation</span></h3>
    </div>

    <div class="modal-body">
        <div class="content-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>CLIENT INFORMATION</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Name:</strong>
                                    <span ng-bind="consultationRecords.client.firstName"></span> &nbsp;
                                    <span ng-bind="consultationRecords.client.lastName"></span>
                                </div>
                                <div class="span2">
                                    <strong>Age:</strong>
                                    {{consultationRecords.client.dateOfBirth | ageFilter}}
                                    <!--{{consultationRecords.client.dateOfBirth}}-->
                                </div>
                                <div class="span2">
                                    <strong>Gender:</strong>
                                    <span ng-bind="consultationRecords.client.gender"></span>
                                </div>
                                <!--<div class="span2">-->
                                <!--<strong>Account Type:</strong>-->
                                <!--<span ng-bind="consultationRecords.package.name"></span>-->
                                <!--</div>-->

                                <div class="span3">
                                    <strong>Group Name:</strong>
                                    <span ng-bind="consultationRecords.client.firstName"></span> &nbsp;
                                    <span ng-bind="consultationRecords.client.lastName"></span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Cell Phone:</strong>
                                    <span ng-bind="consultationRecords.client.cellPhone"></span> &nbsp;
                                </div>

                                <div class="span2">
                                    <strong>Region:</strong>
                                    <span ng-bind="consultationRecords.client.geographicZone.region"></span>
                                </div>
                                <div class="span2">
                                    <strong>District:</strong>
                                    <span ng-bind="consultationRecords.client.geographicZone.district"></span>
                                </div>
                                <!--<div class="span1">-->
                                <!--<strong>Address:</strong>-->
                                <!--<span ng-bind="consultationRecords.client.address"></span>-->
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid" style="">
                <div class="x_panel">
                    <div class="accordion">
                <div class="pull-right control-accordion">
                    <a id="expandAll" href="javascript:void(0);" onClick="accordion.expandCollapse('expand')"
                       openlmis-message="label.expand.all"></a> /
                    <a id="collapseAll" href="javascript:void(0);" onClick="accordion.expandCollapse('collapse')"
                       openlmis-message="label.collapse.all"></a>
                </div>
                <div class="clearfix"></div>

                <!--START CONSULTATION FORM-->
                <div class="accordion-section">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)"
                         onload="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="homeFacilityRoles"
                            href="javascript:void(0);">CONSULTATION</a></span>
                    </div>
                    <div class="accordion-body prog-role-grid">
                        <div class="rnr-table">
                            <table class="table table-condensed table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th ng-show="hasViewPermissionByFieldName(group.name)"
                                        ng-repeat="group in consultationRecordsToDisplay">{{group.name}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-show="hasViewPermissionByFieldName(group.name)" style="text-align:left"
                                        ng-repeat="group in consultationRecordsToDisplay">
                                        <fieldset ng-repeat="field in group.fields">
                                            <label ng-show="group.fields.length >1 && !$first">{{field.fieldName}}</label>
                                            <input type="text" ng-show="field.fieldType =='TEXT'"
                                                   ng-model="field.fieldValue"/>
                                            <textarea rows="4"
                                                      style='font-family: "Courier New", Courier, monospace !important;width:100%'
                                                      ng-show="field.fieldType =='RICHTEXT'"
                                                      ng-model="field.fieldValue">
                                            </textarea>

                                        </fieldset>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--//New Form to add records type-->
                            <!--//Past records of type-->
                        </div>
                    </div>
                </div>
                <div class="accordion-section" ng-show="hasPermission('VIEW_MEDICAL_HISTORY')">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                        <span style="width:600px"><strong>+</strong><a id="supervisoryRoles"
                                                   href="javascript:void(0);">MEDICAL HISTORY</a></span>
                    </div>
                    <div class="accordion-body prog-role-grid">
                        <div class="rnr-table">
                            <table ng-repeat="history in consultationRecords.medicalHistory"
                                   class="table table-condensed table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th ng-repeat="group in history.medicalHistoryToDisplay">{{group.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align:left;padding:1px !important"
                                        ng-repeat="group in history.medicalHistoryToDisplay">
                                        <fieldset ng-repeat="field in group.fields">
                                            <label ng-show="group.fields.length >1 && !$first">{{field.fieldName}}</label>
                                            <input style="width:100%"
                                                   ng-disabled="group.name !=='MEDICAL HISTORY' && consultationRecords.medicalHistory.length >1"
                                                   type="text" ng-show="field.fieldType =='TEXT'"
                                                   ng-model="field.fieldValue"/>
                                            <textarea
                                                    ng-disabled="group.name !=='MEDICAL HISTORY' && consultationRecords.medicalHistory.length >1"
                                                    style='margin-bottom:0px !important;font-family: "Courier New", Courier, monospace !important;width:100%'
                                                      ng-show="field.fieldType =='RICHTEXT'"
                                                      ng-model="field.fieldValue">
                                            </textarea>

                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:#F8F8F8" colspan="{{history.medicalHistoryToDisplay.length}}">
                                        Doctor: {{history.doctor.firstName}}&nbsp;{{history.doctor.lastName}}
                                        &nbsp;&nbsp;&nbsp;Date: {{history.consultation.consultationDate | date
                                        :'dd/MM/yyyy'}}

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--//New Form to add records type-->
                            <!--//Past records of type-->
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <select ng-show="hasPermission('CONNECT_CLIENT_TO_DOCTOR')" ng-model="doctorToForward">
            <option value="">Select Doctor</option>
            <option ng-repeat="doctor in onlineDoctors" value="{{doctor.id}}">{{doctor.firstName}}
                {{doctor.lastName}}-{{doctor.specialization}}
            </option>
        </select>
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="connectToDoctor()"
               ng-disabled="doctorToForward === undefined"
               ng-show="hasPermission('CONNECT_CLIENT_TO_DOCTOR')"
               value="Connect to doctor"/>
        <input type="button" id=""
               class="btn btn-primary save-button"
               ng-click="saveFinalConsultation()"
               ng-show="hasPermission('FINALIZE_CONSULTATION')"
               value="Save and Exit Consultation"/>
        <input type="button" ng-click="cancelConsultation();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
