
<div>
  <div ng-show="loginConfig.modalShown" id="myModal">
    <div class="modal-backdrop"></div>
    <div class="modal modal-login fade in">
      <ng-include src="'/public/pages/login-form.html'"/>
    </div>
  </div>

  <div class="toggleFullScreen">
    <div class="header row-fluid">

      <div class="logo span12" >

        <div  align="center">
          <!--<img  src="/public/images/tz-logo.png" height="80" width="30%"/>-->
          <h1>Dashboard</h1>
        </div>

      </div>
      <div id="loader" class="loader-icon"></div>
      <div class="span3" ng-show="!!user">
        <ng-include src="'/public/pages/user.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
