<div ng-controller="LeftNavigationController" class="left_col scroll-view ">
    <div class="navbar nav_title"
         style="border: 0;padding-bottom:6px;background:#EDEDED;background: linear-gradient(to bottom, #ffffff 0%, #fafafa 35%, #cfcfcf 100%);">
        <a href="index.html" class="site_title">
            <!--<i class="fa fa-paw"></i> <span>AfyaCall</span>-->
            <img align="center" width="70%" height="65%"
                 src="/public/images/afyaCall_logo.png" class=""/>
        </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile" ng-controller="HeaderController">
        <div class="profile_pic">
            <br/><br/>
        <span class="pull-right">
            <ng-letter-avatar data="{{userInfo.firstName}} {{userInfo.lastName}}" dynamic="true" charCount="1"
                              shape="round"></ng-letter-avatar>
        </span>


        </div>
        <div class="profile_info">
            <span>Welcome,</span>

            <h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <div class="clearfix"></div>
    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <!--<h3>General</h3>-->
            <ul class="nav side-menu">
                <!--<li><a href=""><i class="fa fa-tachometer"></i> Dashboard <span-->
                <!--class="fa"></span></a>-->

                <!--</li>-->
                <li ng-show="hasPermission('ADMINISTRATION')"><a><i class="fa fa-cogs"></i>Administration <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/admin/index.html/#/health-settings">Health Record Settings</a></li>
                        <li><a href="/public/pages/admin/index.html/#/cv-settings">CV Settings</a></li>
                        <li><a href="/public/pages/admin/setting/index.html#/list">Other settings</a></li>

                        <li class="has-children">
                            <a id="manage-option" href="javascript: void(0);" openlmis-message="link.admin.manage"></a>
                            <div class="submenu">
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="/public/pages/admin/upload/index.html">Upload</a>
                                    </li>
                                    <li><a href="/public/pages/admin/user/index.html#/search">Users</a></li>
                                    <li><a href="/public/pages/role/index.html"
                                            >Roles</a></li>
                                    <li><a href="">Geographic Zones</a></li>


                                </ul>

                            </div>


                        </li>

                    </ul>
                </li>
                <li ng-show="hasPermission('MANAGE_REGISTRATION')"><a><i class="fa fa-pencil-square-o"></i>
                    Registration<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/client/index.html/#/search">Clients</a></li>
                    </ul>
                </li>
                <li ng-show="hasPermission('CONSULTATION')"><a><i class="fa fa-stethoscope"></i>
                    Consultation <span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/consultation/index.html/#/search">Consultation Queue</a></li>
                    </ul>
                </li>

                <li ng-show="hasPermission('MANAGE_PROFILE')"><a><i class="fa fa-user"></i> Account<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/client/index.html/#profile">Profile</a></li>
                        <li><a href="/public/pages/client/index.html/#payment">Payment</a></li>

                    </ul>
                </li>
                <li ng-show="hasPermission('MANAGE_HEALTH_RECORDS')"><a><i class="fa fa-medkit"></i>Health Records<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="">Vitals</a></li>
                        <li><a href="">Existing Conditions</a></li>
                        <li><a href="">Medicines</a></li>
                        <li><a href="">Allergies</a></li>
                        <li><a href="">Blood Glucose</a></li>
                        <li><a href="">Immunization</a></li>
                        <li><a href="">Lipid Profile</a></li>
                        <li><a href="">Urine Test</a></li>

                    </ul>
                </li>

                <li ng-show="hasPermission('VIEW_DOCTORS')"><a><i class="fa fa-user-md"></i> Doctors<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="">All Doctors</a></li>
                        <li><a href="">Family Doctors</a></li>
                        <li><a href="">Children Doctor</a></li>
                        <li><a href="">Search Doctor</a></li>
                    </ul>
                </li>

                <!--<li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                <!--<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>-->
                <!--<li><a href="fixed_footer.html">Fixed Footer</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="menu_section">

        </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <!--<div class="sidebar-footer hidden-small">-->
    <!--<a data-toggle="tooltip" data-placement="top" title="Settings">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a data-toggle="tooltip" data-placement="top" title="Lock">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a href="" ng-click="logout()" data-toggle="tooltip" data-placement="top" title="Logout">-->
    <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
    <!--</a>-->
    <!--</div>-->
    <!-- /menu footer buttons -->
</div>
