<div class="container">
    <div class="row-fluid" style="margin-left:0px !important">
        <!-- form input mask -->
        <div class="span3">

        </div>
        <div class="span6">
            <div ng-show="!showVerification && !registrationInProcess" class="x_panel">
                <div class="x_title">
                    <h2>Create Account</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>

                    <form name="clientForm" class="form-horizontal" novalidate>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="form-group">
                                    <label for="firstName">First Name <span class="">*</span>:</label>
                                    <input ng-model="client.firstName" name="firstName" ng-required="true"
                                           type="text" class="form-control" id="firstName">
                                    <span class="field-error"
                                          ng-show="clientForm.firstName.$error.required && (showError || clientForm.firstName.$dirty)">First Name is required</span>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="form-group">
                                    <label for="latsName">Last Name <span>*</span>:</label>
                                    <input ng-model="client.lastName" name="lastName" ng-required="true"
                                           type="text" class="form-control" id="latsName">
                                    <span class="field-error"
                                          ng-show="clientForm.lastName.$error.required && (showError || clientForm.lastName.$dirty)">Last Name is required</span>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="form-group">
                                    <label for="userName">Username <span>*</span>:</label>
                                    <input ng-model="client.userName" name="userName" ng-required="true"
                                           ng-change="checkUserName()"
                                           type="text" class="form-control" id="userName">
                                    <span class="field-error"
                                          ng-show="clientForm.userName.$error.required && (showError || clientForm.userName.$dirty)">Username is required</span>
                                    <span class="field-error"
                                          ng-show="client.userName !== undefined && clientForm.userName.$dirty && userNameExist ">Username already exist</span>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="form-group">
                                    <label for="cellPhone">Mobile <span>*</span>:</label>
                                    <input ng-model="client.cellPhone" name="cellPhone" ng-change="checkCellPhone()"
                                           ng-required="true"
                                           type="text" class="form-control" id="cellPhone">
                                    <span class="field-error"
                                          ng-show="clientForm.cellPhone.$error.required && (showError || clientForm.cellPhone.$dirty)">Mobile Number is required</span>
                                    <span class="field-error"
                                          ng-show="client.cellPhone !== undefined && clientForm.cellPhone.$dirty && cellPhoneExist ">Cell Phone already exist</span>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="form-group">
                                    <label for="password">Password <span>*</span>:</label>
                                    <input ng-model="client.password" name="password"
                                           ng-required="true"
                                           type="password"
                                           class="form-control" id="password">
                                    <span class="field-error"
                                          ng-show="clientForm.password.$error.required && (showError || clientForm.password.$dirty)">Password is required</span>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password:</label>
                                    <input ng-model="client.confirmPassword" ng-required="true" name="confirmPassword"
                                           type="password" class="form-control" id="confirmPassword">
                                    <span class="field-error"
                                          ng-show="clientForm.confirmPassword.$error.required && (showError || clientForm.confirmPassword.$dirty)">Please confirm password</span>
                                    <span class="field-error"
                                          ng-show="clientForm.confirmPassword.$dirty && client.confirmPassword !==undefined && client.password !== client.confirmPassword">Password don't match</span>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row-fluid">
                            <div class="span6">
                                <button ng-click="register()" class="btn btn-primary">Register</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div ng-show="!showVerification && registrationInProcess">
                Wait while creating your account...........
            </div>
            <div ng-show="showVerification && !registrationInProcess">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="token">Verification PIN:</label>
                        <input type="text" ng-model="token" class="form-control" id="token">
                        <button type="btn" ng-disabled="token === undefined" ng-click="verifyAccount()"
                                class="btn btn-primary" id="verify">Verify
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form input mask -->

        <!-- form color picker -->
        <div class="span3">

        </div>
        <!-- /form color picker -->

    </div>

</div>