<div class="row-fluid tile_count" ng-controller="TopTilesController"
     style="border-bottom:1px solid #D9DEE4;background: linear-gradient(to bottom, #ffffff 0%, #fafafa 35%, #cfcfcf 100%);">
    <div class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Clients</span>

        <div class="count">{{topTiles.totalclients}}</div>
        <!--<span class="count_bottom"><i class="green">4% </i> </span>-->
    </div>
    <div class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Doctors</span>

        <div class="count">{{topTiles.totaldoctors}}</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3%-->
        <!--</i> From last Week</span>-->
    </div>
    <div class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Calls this Week</span>

        <div class="count ">{{topTiles.thisweekcalls}}</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34%-->
        <!--</i> From last Week</span>-->
    </div>
    <div class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Calls Today </span>

        <div class="count green">{{topTiles.todaycalls}}</div>
        <!--<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12%-->
        <!--</i> From last Week</span>-->
    </div>
    <div style="overflow:visible" class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Doctors Online</span>

        <li role="presentation" class="dropdown">
            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
               aria-expanded="false">
                <span class="badge bg-green"><div class="count" ng-bind="totalDoctorsOnline"></div></span>
            </a>
            <ul style="margin-top:45px !important;max-height:400px !important; overflow-y:scroll;z-index:1000; width:250px !important"
                id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li ng-repeat="doctor in onlineDoctors">
                    <a>
                                        <span class="image">
                                            <!--<img src="/public/images/img.jpg"-->
                                                                 <!--alt="Profile Image"/>-->
                                            <ng-letter-avatar data="{{doctor.firstName}} {{doctor.lastName}}"
                                                              dynamic="true" charCount=1
                                                              shape="round">
                                            </ng-letter-avatar>
                                        </span>
                        <span>
                          <span>{{doctor.firstName}} {{doctor.lastName}}</span>
                          <!--<span class="time">3 mins ago</span>-->
                        </span>
                        <span class="message">
                         Specialization Here;
                        </span>
                    </a>
                </li>
                <!--<li>-->
                <!--<div class="text-center">-->
                <!--<a>-->
                <!--<strong>See All Alerts</strong>-->
                <!--<i class="fa fa-angle-right"></i>-->
                <!--</a>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </li>

    </div>
    <!--<div class="span2 col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
    <!--<span class="count_top"><i class="fa fa-user"></i> Queue</span>-->

    <!--<div class="count">20</div>-->
    <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34%-->
    <!--</i> From last Week</span>-->
    <!--</div>-->
</div>
