<!--
<div ng-hide="rights" openlmis-message="msg.loading"></div>
-->
<div>
    <div ng-hide="clientTypes.length >0">
        <h2 id="addNewRoleHeader" openlmis-message="create.role.addNew"></h2>
    </div>
    <div ng-show="clientTypes.length > 0">
        <h2 id="editRoleHeader">Edit ClientType</h2>
    </div>

    <form id="create-role" name="clientTypeForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left">

                        <div>
                            <fieldset class="form-group">
                                <label for="rightName">Right Name</label>
                                <input type="text" class="form-control" id="rightName" name="rightName"
                                       ng-model="rights.name"
                                       placeholder="">
                            </fieldset>
                            <br/>

                            <fieldset class="form-group">
                                <label for="rightType">Right Types</label>
                                <select class="form-control" id="rightType" ng-model="rights.type">
                                    <option value="">Select Right Type</option>
                                    <option ng-repeat="type in rightTypes" ng-selected="rights.type == type.name"
                                            value="{{type.name}}">{{type.name}}
                                    </option>
                                </select>
                            </fieldset>

                            <form class="form-horizontal">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <div class="form-group">
                                            <label for="fieldToAddName">Description</label>
                                            <input type="text" class="form-control" id="fieldToAddName"
                                                   ng-model="rights.description"
                                                   placeholder="">
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <br/>

                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="saveRight()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

